
@model  TransportService.Web.Models.Activity.Loader
@using TransportService.Web.Models.Masters
@using TransportService.Web.Models

@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html

@foreach (var item1 in Model.Loaders)
{

    <div class=" mainList">
        <div class=" fromTo">
            <span class=" fromPlace">@item1.Source&nbsp;</span>
            <span class=" totalTime"> 15h 58m</span>
            <span class="toPlace">@item1.Destination&nbsp;</span>
        </div>

        <div class=" dateDiv">
            <p class=" dateP">
                <span title="19 Feet Container">@item1.LoadType</span>
                <span class=" dateSpan">| Pick Up Date : @item1.PickUpDate </span>
                @if (item1.Status == false && Session[UserColumns.UserID] != null && Convert.ToInt32(Session[UserColumns.UserID]) == item1.AddedBy)
                {
                    
                        <span class=" dateSpan">|</span> <span>@Html.ActionLink("Edit Load", "EditLoad", new { LoadID = item1.LoadID }, new { @class = "linkDecoration" }) <br /></span>
                    
                }



            </p>

            @*<p>
                <!-- <li class="avail">jhvond fYVOJz-->
                <span class="avail" style="margin-right: 20px;"> <b>3 Ton</b> Available</span>
                <span class="route"><b>Route : </b></span>
            </p>*@

            @*<ul class=" rating">
                <p class="links">
                    <span class=" ratingClr" high="true">
                        <span class=" ratingFont">4.7</span>/5
                    </span>
                </p>

                <li class=" subLinks">Policies</li>
                <li class=" subLinks" data-toggle="collapse" href="#collapse1">Pickups &amp; Drops</li>
                <li class=" subLinks">5 Photos</li>
            </ul>*@
        </div>

        <div class=" priceDiv">
            <div>
                <div>
                    <span data-placeholder="true" class=" price">&#2352;. @item1.PrimaryQuotaionValue</span>
                </div>
                <p class=" dKyclB">
                    <span class=" gnTLhn  kvMNaU"></span>
                </p>
            </div>
            <ul class="sc-kGXeez ">
                <ul class=" BhRgU">
                    <span class=" jhvond  gYzbWd"></span> @item1.LoadStatus
                </ul>
            </ul>
            @*<a class=" drsecP">Select Seats</a>*@
            @if (!item1.IsLoadBooked)
            {
                if (Session[UserColumns.UserID] == null)
                {
                    @Html.ActionLink("Book Now", "LoginUser", null, new { @Class = "drsecP" }) <br />

                }
                else
                {
                    if (Convert.ToInt32(Session[RoleColumns.RoleID]) == enumRole.Transporter.GetHashCode())
                    {
                        @Html.ActionLink("Book Now", "BookLoad", new { LoadID = item1.LoadID, LoadType = item1.LoadType, item1.VehicleTypeID }, new { @Class = "drsecP" }) <br />
                        //@Html.ActionLink("Book Now", "AddTrip", "TLoader", new { isBookLoad = true },new { @Class= "drsecP" })
                    }

                }

            }
            else
            {
                if (item1.Status == false)
                {
                    <span class="BhRgU">Booked</span>
                }

            }






        </div>

    </div>
}
<div class="row">
    <div class="col-sm-12 ">
        <div class="pnl-pagination m-b-md1">
            <div class="pull-right">
                @Html.PagedListPager((IPagedList)Model.Loaders, page => Url.Action("", "", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 4, DisplayPageCountAndCurrentLocation = true }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "mgrid", OnComplete = "PagedOnComplete" }))
                @if (Model.Loaders.Count() == 0)
                {
                    <ul class="pagination pull-right"></ul>

                }
            </div>
        </div>
    </div>
</div>

<script>
      $('#SearchShipmentTruck .pagination li a').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
                if ($("#SourceID option:selected").text() == "Select Source") {
                    var S = ""
                }
                if ($("#DestinationID option:selected").text() == "Select Source") {
                    var D = ""
                }
            var temp = $(this).attr('href');
            var pageid = temp.replace('/?page=', '');
            $.ajax({
                url: "@Url.Action("SearchLoads", "TLoader")",
                contentType: "application/json",
                data: JSON.stringify({
                    page: pageid,
                    Source: S,
                    Destination: D,
                }),
                dataType: "text",
                type: "POST",
                async: true,
                success: function (data) {
                    $('#SearchShipmentTruck').html(data);
                },
                error: function (data) {
                },
                complete: function () {
                }
            });
         });
</script>