@model  TransportService.Web.Models.Transpoter
@using TransportService.Web.Models.Masters
@using TransportService.Web.Models

@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html

@foreach (var item1 in Model.TransDetails)
{

    <div class=" mainList">
        <div class=" fromTo">
            <span class=" fromPlace">@item1.Source&nbsp;</span>
            <span class=" totalTime"> 15h 58m</span>
            <span class="toPlace">@item1.Destination&nbsp;</span>
        </div>

        <div class=" dateDiv">
            <p class=" dateP">
                <span title="19 Feet Container">@item1.VehicleType</span>
                <span class=" dateSpan">| @item1.TripStartDate To @item1.TripEndDate </span>
                @if (Session[UserColumns.UserID] != null && Convert.ToInt32(Session[UserColumns.UserID]) == item1.AddedBy)
                {
                    <span class=" dateSpan">|</span> <span>@Html.ActionLink("Edit Trip", "EditTrip", new { TripID = item1.TripID }, new { @class = "linkDecoration" }) <br /></span>
                }
               
            </p>

            <p>
                <!-- <li class="avail">jhvond fYVOJz-->
                <span class="avail" style="margin-right: 20px;"> <b> 3 Ton</b> Available</span>
                <span class="route"><b>Route : </b>@item1.Route_Details</span>
            </p>

            <ul class=" rating">


                @if (item1.IsTripRated == true)
                {
                    <p class="links">
                        <span class=" ratingClr" high="true">
                            <span class=" ratingFont">@item1.Rating</span>/ 5
                        </span>
                    </p>
                }

                else if (item1.Status == true && Session[UserColumns.UserID] == null)
                {
                    <li class=" subLinks">
                        @Html.ActionLink("Rate Your Trip", "LoginUser", null, null)
                    </li>
                }
                else
                {
                    if (item1.Status == true && Session[UserColumns.UserID] != null && item1.LoaderID == Convert.ToInt32(Session[UserColumns.UserID]))
                    {
                        <li class=" subLinks">
                            @Html.ActionLink("Rate Your Trip", "RankTheTrip", new { TripID = item1.TripID, TransporteUserID = item1.AddedBy }, null)
                        </li>
                    }


                }






            <li class=" subLinks">Policies</li>
            <li class=" subLinks" data-toggle="collapse" href="#collapse1">Pickups &amp; Drops</li>
            <li class=" subLinks">5 Photos</li>
            </ul>
        </div>

        <div class=" priceDiv">
            <div>
                <div>
                    <span data-placeholder="true" class=" price">&#2352;. 1285</span>
                </div>
                <p class=" dKyclB">
                    <span class=" gnTLhn  kvMNaU"></span>
                </p>
            </div>
            <ul class="sc-kGXeez ">
                <ul class=" BhRgU">
                    <span class=" jhvond  gYzbWd"></span> @item1.TripStatus
                </ul>
            </ul>
            @*<a class=" drsecP">Select Seats</a>*@
            @if ((item1.LoadID != null && item1.LoadType != constLoadType.FullTruckLoad) || (item1.LoadID == null))
            {
                if (Session[UserColumns.UserID] == null)
                {
                    @Html.ActionLink("Book Now", "LoginUser", null, new { @Class = "drsecP" }) <br />

                }
                else
                {
                    if (Convert.ToInt32(Session[RoleColumns.RoleID]) == enumRole.Loader.GetHashCode())
                    {
                        @Html.ActionLink("Book Now", "AddSubTrip", new { Source = item1.SourceID, TripId = item1.TripID }, new { @Class = "drsecP" }) <br />
                    }

                }

            }
            else
            {

                if((item1.LoadID != null && item1.LoadType == constLoadType.FullTruckLoad) && (item1.Status == false))
                {
                    <span class="BhRgU">Booked</span>
                }

            }




            @*@if (Session[UserColumns.UserID] == null)
        {
            @Html.ActionLink("Book Now", "LoginUser", null, new { @Class = "drsecP" }) <br />

        }
        else
        {
            if (Convert.ToInt32(Session[RoleColumns.RoleID]) == enumRole.Loader.GetHashCode())
            {
                @Html.ActionLink("Book Now", "AddSubTrip", new { Source = item1.SourceID, TripId = item1.TripID }, new { @Class = "drsecP" }) <br />
            }

        }*@







        </div>

    </div>
}
    <div class="row">
        <div class="col-sm-12 ">
            <div class="pnl-pagination m-b-md1">
                <div class="pull-right">

                    @Html.PagedListPager((IPagedList)Model.TransDetails, page => Url.Action("", "", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 4, DisplayPageCountAndCurrentLocation = true }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "mgrid", OnComplete = "PagedOnComplete" }))

                    @if (Model.TransDetails.Count() == 0)
                    {
                        <ul class="pagination pull-right"></ul>

                    }
                </div>
            </div>
        </div>
    </div>

    <script>
      $('#SearchShipmentTruck .pagination li a').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
                if ($("#SourceID option:selected").text() == "Select Source") {
                    var S = ""
                }
                if ($("#DestinationID option:selected").text() == "Select Source") {
                    var D = ""
                }
            var temp = $(this).attr('href');
            var pageid = temp.replace('/?page=', '');
            $.ajax({
                url: "@Url.Action("SearchTrips", "TLoader")",
                contentType: "application/json",
                data: JSON.stringify({
                    page: pageid,
                    Source: S,
                    Destination: D,
                }),
                dataType: "text",
                type: "POST",
                async: true,
                success: function (data) {
                    $('#SearchShipmentTruck').html(data);
                },
                error: function (data) {
                },
                complete: function () {
                }
            });
         });
    </script>