
@{
    ViewBag.Title = "AddSubTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TransportService.Web.Models.Transpoter
@using (Html.BeginForm())
{

    <div class="container-fluid">
        <hr />
        <div class="row">
            <div class="col-sm-12 pull-left">
                @*<input id="btnSubmit" type="submit" class="btn btn-primary" name="regform" value="Create Truck">*@
                <input type="button" id="btnSubmit" class="btn btn-primary" name="regform" value="Add Trip">
            </div>
        </div>
        <div class="row">
            <hr />


            <div class="col-lg-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"><b>Trip Details</b> </h5>
                    </div>
                    <div class="panel-body">

                        <div class="col-sm-6 form-group">
                            <label><i class="red">*</i> Source  </label>
                            <div class="input-group">
                                <input type="hidden" value="@ViewBag.tripid" id="txtTripid" />
                                <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                                @Html.DropDownList("model.subSourceId", new SelectList((System.Collections.IEnumerable)ViewData["TripWiseCityList"], "Value", "Text", @ViewBag.Source), "Select Source", new { @class = "form-control", @id = "subSourceId", Title = "Select Source" })
                            </div>

                        </div>

                        <div class="col-sm-6 form-group">
                            <label><i class="red">*</i> Destination </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>

                                @Html.DropDownList("model.subDestinationId", new SelectList(string.Empty, "Value", "Text"), "......Loading", new { @class = "form-control", @id = "subDestinationId", Title = "Select Destination" })

                            </div>
                        </div>


                        <div class="col-sm-12 ">
                            @*<label><i class="red">*</i> Destination </label>*@
                            <div id="grid2">
                               

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title"><b>Good Details</b> </h5>
                    </div>

                    <div class="panel-body">
                        <div class="col-sm-6 form-group">
                            <label><i class="red">*</i> Material</label>
                            <div>
                                @Html.DropDownList("Material", new SelectList((System.Collections.IEnumerable)ViewData["MaterialList"], "Value", "Text"), "Select Material", new { @class = "form-control", @id = "ddlMaterial", Title = "Select Material" })
                            </div>

                        </div>

                        <div class="col-sm-6 form-group">
                            <label><i class="red">*</i> Unit</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-balance-scale" aria-hidden="true"></i></span>
                                @Html.DropDownList("Unit", new SelectList((System.Collections.IEnumerable)ViewData["UOMList"], "Value", "Text"), "Select Unit", new { @class = "form-control", @id = "ddlUnit", Title = "Select Unit" })

                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Heigth</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-up"></i></span>
                                <input id="txt_Height" type="number" class="form-control" name="altr_name" value="" placeholder="Height" title="Enter Height">
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Width</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                <input id="txt_Width" type="number" class="form-control" name="altr_name" value="" placeholder="Width" title="Enter Width">
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label>Length</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-down"></i></span>
                                <input id="txt_Length" type="number" class="form-control" name="altr_name" value="" placeholder="Length" title="Enter Length">
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Quantity</label>
                            <div class="input-group">

                                <input id="txt_Quantity" type="number" class="form-control" name="altr_name" value="" placeholder="Quantity" title="Enter Quantity">
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Total Weight(Tonn)</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                                <input id="txt_Weight" type="number" class="form-control" name="altr_name" value="" placeholder="Weigtht" title="Enter Weight">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div>
                                        <button type="button" id="btnAddGoods" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Good Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="RowCount" name="RowCount" value="0">
                            <div>
                                <table class="table table-bordered" id="tblGoodsDetail" title="Enter Good Details">
                                    <thead>
                                        <tr>
                                            <th>Sr.</th>
                                            <th style="display:none"></th>
                                            <th>Material</th>
                                            <th style="display:none"></th>
                                            <th>Unit</th>
                                            <th>Height</th>
                                            <th>Width</th>
                                            <th>Length</th>
                                            <th>Weight(Tonn)</th>
                                            <th>Quantity</th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
}
<script>
     $(document).on('change', '#subSourceId', function (e) {
         e.preventDefault();
         var TripID= $('#txtTripid').val();
         var SourceID= $("#subSourceId option:selected").val();
         alert("TripID :" + TripID + "  SourceID :" + SourceID);
         
        $("#subDestinationId").empty();
        var ddlDestination = $("#subDestinationId");

        $.ajax({
            url: "@Url.Action("GetCityAgainstTheSource", "TLoader")",
            contentType: "application/json",
            data: JSON.stringify({
                TripID: $('#txtTripid').val(),
                SourceID: $("#subSourceId option:selected").val()

            }),
            dataType: "JSON",
            type: "Post",
            //async: true,
            success: function (response) {

                var selecthtml = '<option value="0">Select Destination</option>';
                ddlDestination.append(selecthtml);

                $.each(response, function (i,destination) {
                    var optionhtml = '<option value="' +
                        destination.Value + '">' + destination.Text + '</option>';
                    ddlDestination.append(optionhtml);
                });
            },
            failure: function (response) {
                alert("failure");
                alert(response.responseText);

            },
            error: function (xhr, errorType, exception) {
                alert("Error");
                alert("ErrorType :" + errorType);
                alert("Exception :" + exception);

                //var responseText;
                //responseText = jQuery.parseJSON(xhr.responseText);
                //alert("Exception Type :" + responseText.ExeptionType);
                //alert("StackTrace :" + responseText.StackTrace);
                //alert("Message :" + responseText.Message);

                alert(response.responseText);
            },
            complete: function () {

            }
        });
    });
    $(document).on('change', '#subDestinationId', function (e) {
        e.preventDefault();
        $('tblGoodsDetail tbody tr').empty();
        alert("Hi");
            $.ajax({
            url: "@Url.Action("GetAvailableSpace", "TLoader")",
            contentType: "application/json",
            data: JSON.stringify({
                TripId: $('#txtTripid').val(),
                Source: $("#subSourceId option:selected").val(),
                Destination: $("#subDestinationId option:selected").val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
                success: function (data) {
                $('#grid2').html(data);


            },
            error: function (data) {
                alert("Error");
            },
            complete: function () {

            }
        });

    });
    $(document).on('click', '#btnAddGoods', function (e) {
        alert("Hi");
        var bFlagValid = 1;
        var rowCount = parseInt($("#RowCount").val());

        rowCount = rowCount + 1;
        $("#RowCount").val(rowCount);
        var materialID = $("#ddlMaterial option:selected").val();
        var material = $("#ddlMaterial option:selected").text();
        var conversionFactor = $("#ddlUnit option:selected").val();
        var unit = $("#ddlUnit option:selected").text();
        var height = parseFloat($("#txt_Height").val());
        var width = parseFloat($("#txt_Width").val());
        var length = parseFloat($("#txt_Length").val());
        var weight = parseFloat($("#txt_Weight").val());
        var quantity = $("#txt_Quantity").val();

        if (materialID == 0) {
            bFlagValid = 0;
            $("#ddlMaterial").addClass('borderValidation');

        }
        if (conversionFactor == 0) {
            bFlagValid = 0;
            $("#ddlUnit").addClass('borderValidation');
        }
        if (height == null || height == "") {

            bFlagValid = 0;
            $("#txt_Height").addClass('borderValidation');
        }

        if (width == null || width == "") {
            bFlagValid = 0;
            $("#txt_Width").addClass('borderValidation');
        }
        if (length == null || length == "") {

            bFlagValid = 0;
            $("#txt_Length").addClass('borderValidation');
        }
        if (weight == null || weight == "") {

            bFlagValid = 0;
            $("#txt_Weight").addClass('borderValidation');
        }
        if (quantity == null || quantity == "") {
            bFlagValid = 0;
            $("#txt_Quantity").addClass('borderValidation');
        }

        if (bFlagValid == 0) {

            return;
        }

        /*.
         * check if entered size 
         * and capacity does 
         * not exceed.
         * 
         * */
        var availableHeight = parseFloat($("#lblHeight").text());
        var availableWidth = parseFloat($("#lblWidth").text());
        var availableLength = parseFloat($("#lblLength").text());
        var availableWeight = parseFloat($("#lblCapacity").text());



        /*......Conversion in feet.....*/
        var feetHeight = height * conversionFactor;
        var feetWidth = width * conversionFactor;
        var feetLength = length * conversionFactor;

        var exceedMsg = "";
        exceedMsg = exceedMsg + (availableHeight < quantity * feetHeight ? "Height/" : "");
        exceedMsg = exceedMsg + (availableWidth < quantity * feetWidth ? "Width/" : "");
        exceedMsg = exceedMsg + (availableLength < quantity * feetLength ? "Length/" : "");
        exceedMsg = exceedMsg + (availableWeight < weight ? "Weight" : "");
        if (exceedMsg != "") {
            exceedMsg = exceedMsg + "exceeded. Please enter proper value according to Available size";
            alert(exceedMsg);
            return 0;
        }

        var availableHeight = availableHeight - (quantity * feetHeight);
        var availableWidth = availableWidth - (quantity * feetWidth);
        var availableLength = availableLength - (quantity * feetLength);
        var availableWeight = availableWeight - weight;

        var bindRow = '<tr>' +
            '<td class="clsSrNo">' + rowCount + '</td>' +
            '<td style="display:none" class="clsMaterialID">' + materialID + '</td>' +
            '<td class="clsMaterial">' + material + '</td>' +
            '<td style="display:none" class="clsConversionFactor">' + conversionFactor + '</td>' +
            '<td class="clsUnit">' + unit + '</td>' +
            '<td class="clsHeight">' + height + '</td>' +
            '<td class="clsWidth">' + width + '</td>' +
            '<td class="clslength">' + length + '</td>' +
            '<td class="clsWeight">' + weight + '</td>' +
            '<td class="clsQuantity">' + quantity + '</td>' +
            '<td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true" style="margin-top: 7px;"></i></td>' +
            '</tr>'
        $('#tblGoodsDetail  tbody').append(bindRow);
        $('#ddlMaterial').prop('selectedIndex', 0);
        $('#ddlUnit').prop('selectedIndex', 0);
        $("#txt_Height").val('');
        $("#txt_Width").val('');
        $("#txt_Length").val('');
        $("#txt_Weight").val('');
        $("#txt_Quantity").val('')
        $("#ddlMaterial").removeClass('borderValidation');
        $("#ddlUnit").removeClass('borderValidation');
        $("#txt_Height").removeClass('borderValidation');
        $("#txt_Width").removeClass('borderValidation');
        $("#txt_Length").removeClass('borderValidation');
        $("#txt_Weight").removeClass('borderValidation');
        $("#txt_Quantity").removeClass('borderValidation');
        $("#lblHeight").text(availableHeight);
        $("#lblWidth").text(availableWidth);
        $("#lblLength").text(availableLength);
        $("#lblCapacity").text(availableWeight);
       
    });

    $(document).on('click', 'i.deleterow', function (e) {
        e.preventDefault();
        var trElement = $(this).parents('tr');
        var ConversionFactor = trElement.find('td.clsConversionFactor').text();
        var Height = trElement.find('td.clsHeight').text();
        var Width = trElement.find('td.clsWidth').text();
        var length = trElement.find('td.clslength').text();
        var Weight = parseFloat(trElement.find('td.clsWeight').text());
        var Quantity = trElement.find('td.clsQuantity').text();


        var availableHeight = parseInt($("#lblHeight").text());
        var availableWidth = parseInt($("#lblWidth").text());
        var availableLength = parseInt($("#lblLength").text());
        var availableWeight = parseFloat($("#lblCapacity").text());


        var availableHeight = availableHeight + (Quantity * ConversionFactor * Height);
        var availableWidth = availableWidth + (Quantity * ConversionFactor * Width);
        var availableLength = availableLength + (Quantity * ConversionFactor * length);
        var availableWeight = availableWeight + Weight;

        $("#lblHeight").text(availableHeight);
        $("#lblWidth").text(availableWidth);
        $("#lblLength").text(availableLength);
        $("#lblCapacity").text(availableWeight);

        $(this).parents('tr').remove();
        var rowCount = parseInt($("#RowCount").val());
        rowCount = rowCount - 1;
        $("#RowCount").val(rowCount);

    });
    $(document).on('click', '#btnSubmit', function (e) {
        e.preventDefault();
        var bFlagValid = 1;

        if ($("#subSourceId option:selected").val() == null || $("#subSourceId option:selected").val() == "") {
            bFlagValid = 0;
            $("#subSourceId").addClass('borderValidation');
        }
        if ($("#subDestinationId option:selected").val() == null || $("#subDestinationId option:selected").val() == "") {
            bFlagValid = 0;
            $("#subDestinationId").addClass('borderValidation');
        }
        if ($('#tblGoodsDetail >tbody>tr').length == 0) {
            bflagValid = 0;
            $("#tblGoodsDetail").addClass('borderValidation');

        }
        if (bFlagValid == 0) {

            return;
        }


        //adding Load Grid Details In Array
        var idArrLoadDetails = [];
        $('#tblGoodsDetail tbody tr').each(function (k, v) {
            var trElement = $(this);

            var tdVals = trElement.find('td.clsSrNo').text() + "~" +
                trElement.find('td.clsMaterialID').text() + "~" +
                trElement.find('td.clsConversionFactor').text() + "~" +
                trElement.find('td.clsUnit').text() + "~" +
                trElement.find('td.clsHeight').text() + "~" +
                trElement.find('td.clsWidth').text() + "~" +
                trElement.find('td.clslength').text() + "~" +
                trElement.find('td.clsWeight').text() + "~" +
                trElement.find('td.clsQuantity').text();
            idArrLoadDetails.push(tdVals);


        });


        var TripDetails = [];
        for (var i = 0; i < idArrLoadDetails.length; i++) {
            var arrElement = idArrLoadDetails[i].split("~");
            item = {}
            item["TripDetailID"] = arrElement[0];
            item["MaterialID"] = arrElement[1];
            item["ConversionFactor"] = arrElement[2];
            item["UnitOfMeasure"] = arrElement[3];
            item["Height"] = arrElement[4];
            item["Width"] = arrElement[5];
            item["Length"] = arrElement[6];
            item["Weight"] = arrElement[7];
            item["Qty"] = arrElement[8];
            TripDetails.push(item);
        }
       

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/TLoader/SaveSubTrip',
            data:
            {
                sourceId: $("#subSourceId option:selected").val(),
                destinationId: $("#subDestinationId option:selected").val(),
                TripId: $("#txtTripid").val(),
                _tripDetails: TripDetails

            },
            success: function (da) {
                alert(da);
                window.location.href = "/TLoader/Index";
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });

    });
</script>
