
@{
                /**/

                ViewBag.Title = "AddTrip";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@using (Html.BeginForm())
{

<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="col-sm-12 pull-left">
            @*<input id="btnSubmit" type="submit" class="btn btn-primary" name="regform" value="Create Truck">*@
            <input type="button" id="btnSubmit" class="btn btn-primary" name="regform" value="Add Trip">
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="col-lg-6">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><b>Trip Details</b> </h5>
                </div>
                <div class="panel-body">

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Source  </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            @Html.DropDownList("Source", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text"), "Select Source", new { @class = "form-control", @id = "SourceID", Title = "Select Source" })

                        </div>

                    </div>

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Destination </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            @Html.DropDownList("Destination", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text"), "Select Destination", new { @class = "form-control", @id = "DestinationID", Title = "Select Destination" })

                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Start Date</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" id="StartDate" class="form-control dropwidth" placeholder="YYYY-MM-DD" title="Select Start Date" />
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>End Date</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" id="EndDate" class="form-control dropwidth" placeholder="YYYY-MM-DD" title="Select End Date" />
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i>Trip Status </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-shopping-cart"></i></span>
                            <select id="TripStatus" class="form-control" title="Select Load Type">
                                <option value="0">In Process</option>
                                <option value="1">Complted</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i>Vehicle </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            @Html.DropDownList("model.VehicleID", new SelectList((System.Collections.IEnumerable)ViewData["VehicleList"], "Value", "Text"), "Select Source", new { @class = "form-control dropwidth", @id = "VehicleID", Title = "Select VehicleType" })
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Add City Route</label>
                        <div style="display:flex;">
                            @Html.DropDownList("model.SourceID", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text"), "Select City", new { @class = "form-control dropwidth", @id = "CityRootID", Title = "Add Cities To The Root" })
                            <i class="fa fa-plus" id="addRoute" aria-hidden="true" style="margin-top: 10px;margin-left: 10px;margin-right:12px;"></i>

                        </div>
                    </div>
                    <div id="divVehicleCapcity" class="col-sm-6 form-group">


                    </div>
                    <label id="lblTest"></label>
                    <div class="col-sm-12 form-group">
                        <label>Route Details</label>
                        <div class="form-group">
                            <div id="showrootdetails" style="margin-top: 12px;" SeqNo="0">
                                <span class="Rootmgs" style="color:#939393;font-size:small;">Add Route From Source To Destination</span>
                            </div>
                        </div>
                    </div>

                    <div class="row route">
                        <div class="col-sm-12">

                        </div>

                    </div>


                </div>
            </div>

        </div>

        <div class="col-lg-6">
           
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><b>Good Details</b> </h5>
                </div>

                <div class="panel-body">
                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Material</label>
                        <div>
                            @Html.DropDownList("Material", new SelectList((System.Collections.IEnumerable)ViewData["MaterialList"], "Value", "Text"), "Select Material", new { @class = "form-control", @id = "ddlMaterial", Title = "Select Material" })
                        </div>

                    </div>

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Unit</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-balance-scale" aria-hidden="true"></i></span>
                            @Html.DropDownList("Unit", new SelectList((System.Collections.IEnumerable)ViewData["UOMList"], "Value", "Text"), "Select Unit", new { @class = "form-control", @id = "ddlUnit", Title = "Select Unit" })

                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Heigth</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-up"></i></span>
                            <input id="txt_Height" type="number" class="form-control" name="altr_name" value="" placeholder="Height" title="Enter Height">
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Width</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></span>
                            <input id="txt_Width" type="number" class="form-control" name="altr_name" value="" placeholder="Width" title="Enter Width">
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Length</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-down"></i></span>
                            <input id="txt_Length" type="number" class="form-control" name="altr_name" value="" placeholder="Length" title="Enter Length">
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Quantity</label>
                        <div class="input-group">

                            <input id="txt_Quantity" type="number" class="form-control" name="altr_name" value="" placeholder="Quantity" title="Enter Quantity">
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Total Weight(Tonn)</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                            <input id="txt_Weight" type="number" class="form-control" name="altr_name" value="" placeholder="Weigtht" title="Enter Weight">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div>
                                    <button type="button" id="btnAddGoods" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Good Details</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="hidden" id="RowCount" name="RowCount" value="0">
                       
                        <div>
                            <table class="table table-bordered" id="tblGoodsDetail" title="Enter Good Details">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th style="display:none"></th>
                                        <th>Material</th>
                                        <th style="display:none"></th>
                                        <th>Unit</th>
                                        <th>Height</th>
                                        <th>Width</th>
                                        <th>Length</th>
                                        <th>Weight(Tonn)</th>
                                        <th>Quantity</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
}
<script>
    $(document).on('change', '#SourceID', function (e) {
        //$('.Rootmgs').remove();
        $('#showrootdetails').find('span').remove()
        routeArray = [];
        var CityRootText = $("#SourceID option:selected").text();
        var CityRootID = $("#SourceID option:selected").val();
        var SeqNo = 1;
        bindrow = '<span id=' + CityRootID + ' SeqNo=' + SeqNo + ' class="RootID"><i class="fa fa-times deleterootcity" aria-hidden="true" style="margin-right:3px;color: #f95555;"></i>' + CityRootText + '<i class="fa fa-arrow-right ArrowMargin" aria-hidden="true"></span>';
        $('#showrootdetails').attr('SeqNo', SeqNo);
        $('#showrootdetails').append(bindrow);
        routeArray.push(CityRootID);
       
    });

    $(document).on('change', '#VehicleID', function (e) {
        e.preventDefault();
        $('#tblGoodsDetail tbody').empty();
        var VehicleID = $("#VehicleID option:selected").val();
        
        alert("Hi");
            $.ajax({
            url: "@Url.Action("GetVehicleSizeCapacityWhereID", "TLoader")",
            contentType: "application/json",
            data: JSON.stringify({
                VehicleID: VehicleID
            }),
            dataType: "text",
            type: "POST",
            async: true,
                success: function (data) {
                    $('#divVehicleCapcity').html(data);

                   
            },
                error: function (xhr, errorType, exception) {
                    alert("Error");
                    alert("ErrorType :" + errorType);
                    alert("Exception :" + exception);

            },
            complete: function () {

            }
        });


    });
    $('#ShowRoute').on("click", function (e) {
        $('.route').show();
    });



    var routeArray = new Array();

    $('#addRoute').on("click", function (e) {
        $('.Rootmgs').remove();
        var CityRootText = $("#CityRootID option:selected").text();
        var CityRootID = $("#CityRootID option:selected").val();
        var bindrow;
        var SeqNo = parseInt($('#showrootdetails').attr('SeqNo'));


        if ($("#SourceID option:selected").val() == 0) {
            alert("Please select Source");
            return 0;
        }
        if (CityRootID == 0) {
            alert("Please Select City for Route");
            return 0;
        }
        //if (SeqNo == 0 && CityRootID != $("#SourceID option:selected").val()) {
        //    alert("Please Select Source As First City in Route");
        //    return 0;

        //}
        ;
        //This code is for removing last arrow from root details
        if (jQuery.inArray(CityRootID,routeArray) == -1) {
            SeqNo = SeqNo + 1;

        if (CityRootText == $("#DestinationID option:selected").text()) {
            bindrow = '<span id=' + CityRootID + ' SeqNo=' + SeqNo + ' class="RootID"><i class="fa fa-times deleterootcity" aria-hidden="true" style="margin-right:3px;color: #f95555;"></i>' + CityRootText + '</span>';
            $('#addRoute').hide();
        }
        else {
            bindrow = '<span id=' + CityRootID + ' SeqNo=' + SeqNo + ' class="RootID"><i class="fa fa-times deleterootcity" aria-hidden="true" style="margin-right:3px;color: #f95555;"></i>' + CityRootText + '<i class="fa fa-arrow-right ArrowMargin" aria-hidden="true"></i></span>';
        }
        $('#showrootdetails').attr('SeqNo', SeqNo);
        $('#showrootdetails').append(bindrow);
            routeArray.push(CityRootID);
        }
        else {
            alert(CityRootText + " is already in route");
            return;
        }

    });

    $(document).on('click', 'i.deleterootcity', function (e) {
        e.preventDefault();
        $(this).closest('span').remove();
        
        var SeqNo = parseInt($('#showrootdetails').attr('SeqNo'));
        SeqNo = SeqNo - 1;
        $('#showrootdetails').attr('SeqNo', SeqNo);
        $('#addRoute').show();
    });
    $(document).on('click', '#btnAddGoods', function (e) {
        
        var bFlagValid = 1;
        var rowCount = parseInt($("#RowCount").val());

        rowCount = rowCount + 1;
        $("#RowCount").val(rowCount);
        var materialID = $("#ddlMaterial option:selected").val();
        var material = $("#ddlMaterial option:selected").text();
        var conversionFactor = $("#ddlUnit option:selected").val();
        var unit = $("#ddlUnit option:selected").text();
        var height = $("#txt_Height").val();
        var width = $("#txt_Width").val();
        var length = $("#txt_Length").val();
        var weight = $("#txt_Weight").val();
        var quantity = $("#txt_Quantity").val();

        if (materialID == 0) {
            bFlagValid = 0;
            $("#ddlMaterial").addClass('borderValidation');
        }
        if (conversionFactor == 0) {
            bFlagValid = 0;
            $("#ddlUnit").addClass('borderValidation');
        }
        if (height == null || height == "") {

            bFlagValid = 0;
            $("#txt_Height").addClass('borderValidation');
        }

        if(width == null || width == "")
        {
            bFlagValid = 0;
            $("#txt_Width").addClass('borderValidation');
        }
        if (length == null || length == "") {

            bFlagValid = 0;
            $("#txt_Length").addClass('borderValidation');
        }
        if (weight == null || weight == "") {

            bFlagValid = 0;
            $("#txt_Weight").addClass('borderValidation');
        }
        if (quantity == null || quantity == "") {
            bFlagValid = 0;
            $("#txt_Quantity").addClass('borderValidation');
        }

        if (bFlagValid == 0) {
            
            return;
        }


        /*....check if entered size and capacity does not exceed.*/
        var availableHeight = $("#lblHeight").text();
        var availableWidth = $("#lblWidth").text();
        var availableLength = $("#lblLength").text();
        var availableWeight = $("#lblCapacity").text();



        /*......Conversion in feet.....*/
        var feetHeight = height * conversionFactor;
        var feetWidth = width * conversionFactor;
        var feetLength = length * conversionFactor;

        var exceedMsg = "";
        exceedMsg = exceedMsg + (availableHeight < quantity*feetHeight ? "Height/" : "");
        exceedMsg = exceedMsg + (availableWidth < quantity*feetWidth ? "Width/" : "");
        exceedMsg = exceedMsg + (availableLength < quantity*feetLength ? "Length/" : "");
        exceedMsg = exceedMsg + (availableWeight < parseFloat(weight) ? "Weight" : "");
        if (exceedMsg != "") {
            exceedMsg = exceedMsg + " exceeded. Please enter proper value according to Available size";
            alert(exceedMsg);
            return 0;
        }


        


        var bindRow = '<tr>' +
            '<td class="clsSrNo">' + rowCount + '</td>' +
            '<td style="display:none" class="clsMaterialID">' + materialID + '</td>' +
            '<td class="clsMaterial">' + material + '</td>' +
            '<td style="display:none" class="clsConversionFactor">' + conversionFactor + '</td>' +
            '<td class="clsUnit">' + unit + '</td>' +
            '<td class="clsHeight">' + height + '</td>' +
            '<td class="clsWidth">' + width + '</td>' +
            '<td class="clslength">' + length + '</td>' +
            '<td class="clsWeight">' + weight + '</td>' +
            '<td class="clsQuantity">' + quantity + '</td>' +
            '<td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true" style="margin-top: 7px;"></i></td>' +
            '</tr>'
        $('#tblGoodsDetail  tbody').append(bindRow);


        var availableHeight = availableHeight - (quantity * feetHeight);
        var availableWidth = availableWidth - (quantity * feetWidth);
        var availableLength = availableLength - (quantity * feetLength);
        var availableWeight = availableWeight -  weight;

        $('#ddlMaterial').prop('selectedIndex', 0);
        $('#ddlUnit').prop('selectedIndex', 0);
        $("#txt_Height").val('');
        $("#txt_Width").val('');
        $("#txt_Length").val('');
        $("#txt_Weight").val('');
        $("#txt_Quantity").val('');
        $("#ddlMaterial").removeClass('borderValidation');
        $("#ddlUnit").removeClass('borderValidation');
        $("#txt_Height").removeClass('borderValidation');
        $("#txt_Width").removeClass('borderValidation');
        $("#txt_Length").removeClass('borderValidation');
        $("#txt_Weight").removeClass('borderValidation');
        $("#txt_Quantity").removeClass('borderValidation');

        $("#lblHeight").text(availableHeight);
        $("#lblWidth").text(availableWidth);
        $("#lblLength").text(availableLength);
        $("#lblCapacity").text(availableWeight);


    });

    $(document).on('click', 'i.deleterow', function (e) {
        e.preventDefault();
        var trElement = $(this).parents('tr');
        var ConversionFactor = trElement.find('td.clsConversionFactor').text();
        var Height = trElement.find('td.clsHeight').text();
        var Width = trElement.find('td.clsWidth').text();
        var length = trElement.find('td.clslength').text();
        var Weight = parseFloat(trElement.find('td.clsWeight').text());
        var Quantity = trElement.find('td.clsQuantity').text();


        var availableHeight = parseInt($("#lblHeight").text());
        var availableWidth = parseInt($("#lblWidth").text());
        var availableLength = parseInt($("#lblLength").text());
        var availableWeight = parseFloat($("#lblCapacity").text());


        var availableHeight = availableHeight + (Quantity * ConversionFactor * Height);
        var availableWidth = availableWidth + (Quantity * ConversionFactor * Width);
        var availableLength = availableLength + (Quantity * ConversionFactor * length);
        var availableWeight = availableWeight + (Weight);

        $("#lblHeight").text(availableHeight);
        $("#lblWidth").text(availableWidth);
        $("#lblLength").text(availableLength);
        $("#lblCapacity").text(availableWeight);
          
        $(this).parents('tr').remove();
        var rowCount = parseInt($("#RowCount").val());
        rowCount = rowCount - 1;
        $("#RowCount").val(rowCount);



    });
    $(document).on('click', '#btnSubmit', function (e) {
        e.preventDefault();
        
        
        var bflagValid = 1;
        var idArrRoot = [];
        $('.RootID').each(function (k, v) {
            var tdVals = $(this).attr("id") + "~" + $(this).attr('SeqNo');
            idArrRoot.push(tdVals);
        });


        
        if ($("#SourceID option:selected").val() == null || $("#SourceID option:selected").val() == "") {
            bflagValid = 0;
            $("#SourceID").addClass('borderValidation');
        
        }
        if ($("#DestinationID option:selected").val() == null || $("#DestinationID option:selected").val() == "") {
            bflagValid = 0;
            $("#DestinationID").addClass('borderValidation');
            
        }
        if ($("#StartDate").val() == null || $("#StartDate").val() == "") {
            bflagValid = 0;
            $("#StartDate").addClass('borderValidation');
           
        }

        if ($("#EndDate").val() == null || $("#EndDate").val() == "") {
            bflagValid = 0;
            $("#EndDate").addClass('borderValidation');
            
        }
        
        
        if ($("#VehicleID option:selected").val() == null || $("#VehicleID option:selected").val() == "") {
            bflagValid = 0;
            $("#VehicleID").addClass('borderValidation');
        }


        //if anly source is added
        if (idArrRoot.length <= 1) {
            bflagValid = 0;
            $("#CityRootID").addClass('borderValidation');
            
        }
        if ($('#tblGoodsDetail >tbody>tr').length == 0) {
            bflagValid = 0;
            $("#tblGoodsDetail").addClass('borderValidation');
            
        }
        if (bflagValid == 0) {
            return 0;
            
        }
        
        // Adding City Root into array
        
        
        var SaveRoot = [];
        for (var i = 0; i < idArrRoot.length; i++) {
            var arrElement = idArrRoot[i].split("~");
            item = {}
            item["CityID"] = arrElement[0];
            item["SequenceNo"] = arrElement[1];
            SaveRoot.push(item);
        }
        
        //adding Load Grid Details In Array
        var idArrLoadDetails = [];
        $('#tblGoodsDetail tbody tr').each(function (k, v) {
            var trElement = $(this);

            var tdVals = trElement.find('td.clsSrNo').text() + "~" +
                trElement.find('td.clsMaterialID').text() + "~" +
                trElement.find('td.clsConversionFactor').text() + "~" +
                trElement.find('td.clsUnit').text() + "~" +
                trElement.find('td.clsHeight').text() + "~" +
                trElement.find('td.clsWidth').text() + "~" +
                trElement.find('td.clslength').text() + "~" +
                trElement.find('td.clsWeight').text() + "~" +
                trElement.find('td.clsQuantity').text();
            idArrLoadDetails.push(tdVals);


        });
        
        var TripDetails = [];
        for (var i = 0; i < idArrLoadDetails.length; i++) {
            var arrElement = idArrLoadDetails[i].split("~");
            item = {}
            item["TripDetailID"] = arrElement[0];
            item["MaterialID"] = arrElement[1];
            item["ConversionFactor"] = arrElement[2];
            item["UnitOfMeasure"] = arrElement[3];
            item["Height"] = arrElement[4];
            item["Width"] = arrElement[5];
            item["Length"] = arrElement[6];
            item["Weight"] = arrElement[7];
            item["Qty"] = arrElement[8];
            TripDetails.push(item);
        }
        
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/TLoader/SaveTrip',
            data:
            {
                SourceID: $("#SourceID option:selected").val(),
                DestinationID: $("#DestinationID option:selected").val(),
                VehicleID: $("#VehicleID option:selected").val(),
                TripEndDate: $("#EndDate").val(),
                TripStartDate: $("#StartDate").val(),
                TripStatus: $("#TripStatus option:selected").val(),
                CityRootID: SaveRoot,
                _tripDetails: TripDetails

            },
            success: function (da) {
                alert(da);
                $('#showrootdetails').attr('SeqNo', 0);
                window.location.href = "/TLoader/Index";
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error");
            }
        });

    });
</script>
