@using TransportService.Web.Models
@using System
@using TransportService.Web.Models.Masters
@{
                /**/

                ViewBag.Title = "AddTruck";
                Layout = "~/Views/Shared/_Layout.cshtml";
}



@model TransportService.Web.Models.Masters.Vehicle
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@using (Html.BeginForm("AddTruck1","TLoader",FormMethod.Post,new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
    <hr />
    <input type="hidden" id="hdnIsTripCall" value="@ViewBag.IsTripCall"
    <div class="row">
        <div class="col-sm-12 pull-left">
            <input type="button" id="btnSubmit" class="btn btn-primary" name="regform" value="Add Truck">
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><b>Truck Details</b> </h5>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i>Register Number:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-registered"></i></span>
                            <input id="register_number" type="text" class="form-control" name="register_number" value="" placeholder="Enter Register Number" onkeypress="return isVehicleAlphaNumeric(event,this.value);">
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Truck Type: </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                            @Html.DropDownList("TruckType", new SelectList((System.Collections.IEnumerable)ViewData["VehicalTypeList"], "Value", "Text"), "Select Truck Type", new { @class = "form-control", @id = "VehicleTypeID", Title = "VehicleTypeID" })

                        </div>
                    </div>
                    <div id="divDimension">

                    </div>

                    @*<div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Truck Capacity </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            @Html.DropDownList("Capacity", new SelectList((System.Collections.IEnumerable)ViewData["TruckCapacityList"], "Value", "Text"), "Select Capacity", new { @class = "form-control", @id = "CapacityID", Title = "CapacityID" })
                        </div>
                    </div>*@

                    @*<div class="col-sm-6 form-group">
                        <label>Length:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-arrows-v"></i></span>
                            <input id="truck_length" type="text" class="form-control" name="truck_length" value="" placeholder="Length" onkeypress="return isAlphaNumeric(event,this.value);">
                        </div>
                    </div>*@

                    @*<div class="col-sm-6 form-group">
                        <label>Height:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-arrows-h"></i></span>
                            <input id="truck_height" type="text" class="form-control" name="truck_height" value="" placeholder="Height" onkeypress="return isAlphaNumeric(event,this.value);">
                        </div>
                    </div>*@
                    @*<div class="col-sm-6 form-group">
                        <label>Width:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-arrows-h"></i></span>
                            <input id="truck_width" type="text" class="form-control" name="truck_width" value="" placeholder="Width" onkeypress="return isAlphaNumeric(event,this.value);">
                        </div>
                    </div>*@

                    <div class="col-sm-10 form-group">
                        <label>Description</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                            <textarea id="truck_description" class="form-control" name="truck_description" placeholder="Description" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><b>Contact &amp; Insurance Details</b> </h5>
                </div>
                <div class="panel-body">


                    <div class="col-sm-6 form-group">
                        <label>Insured By:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input id="truck_insuredby" type="text" class="form-control" name="truck_insuredby" value="" placeholder="Insured By" onkeypress="return isAlphaNumeric(event,this.value);">
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Insurance Start Date:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" id="StartDate" class="form-control dropwidth" placeholder="YYYY-MM-DD" />
                            @*<input type="text" id="dp2" data-date-format="yyyy-mm-dd" placeholder="YYYY-MM-DD" class="form-control select_date" name="truck_insurestartdate" value="" autocomplete="off" onkeypress="return checkdate(event);">*@
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Insurance Exp. Date:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" id="EndDate" class="form-control dropwidth" placeholder="YYYY-MM-DD" />
                            @*<input type="text" id="dp23" data-date-format="yyyy-mm-dd" placeholder="YYYY-MM-DD" class="form-control select_date" name="truck_insureexpdate" value="" autocomplete="off" onkeypress="return checkdate(event);">*@
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>GPS Status:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            <select name="gpsstatus" id="gpsstatus" class="form-control" onchange="return chkgpsstatus(this.value)">
                                <option value="0">Disable</option>
                                <option value="1">Enable</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Phone:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input id="truck_phone" type="text" class="form-control" name="truck_phone" value="" placeholder="Phone" onkeypress="return isNumberKey(event);">
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Contact Name:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input id="altr_name" type="text" class="form-control" name="altr_name" value="" placeholder="Contact Name" onkeypress="return isAlphaNumeric(event,this.value);">
                        </div>
                    </div>


                    <div class="col-sm-12 form-group">
                        <div id="formerrorsuploadfile"></div>
                        <label>Upload Your Documents (only image formats (.png/.jpg/.jpeg/.gif))</label>
                        <span class="btn btn-primary attachMoreTruckDocs"><i class="fa fa-plus"></i></span>
                        <input type="hidden" name="proofuserrole" id="proofuserrole" value="9">
                    </div>
                    <div class="col-sm-6">
                        <label>Select Proof Types</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-eye"></i></span>
                            @Html.DropDownList("Proof Type", new SelectList((System.Collections.IEnumerable)ViewData[DDLListNames.ProofTypeList], "Value", "Text"), "Select Proof Type", new { @class = "form-control", @id = "ProofTypeID", Title = "Select ProofType" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="element">
                            <label></label>
                            <input type="file" name="upload_file[]" id="upload_file1" class="form-control" accept="image/*" style="padding:5px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
}

<script>

    $(document).ready(function () {
        alert('IsTripCall' + $('#hdnIsTripCall').val());
    });

    //$('#VehicleTypeID').on('change', function (e) {
    //    e.preventDefault();
    //    alert('Hi');
    //    var value = $("#VehicleTypeID option:selected").val();
    //    if (value != 0) {

    //        $.ajax({
    //            type: 'POST',
    //            dataType: 'text',
    //            url: '/TLoader/GetVehicleTypeByID',
    //            contentType: "application/json",
    //            data:JSON.stringify(
    //            {
    //                VehicleTypeID: value
                    
    //            }),
    //            success: function (da) {
    //                alert('success');
    //                alert(da);
                    
    //                $('#divDimension').html(da);

    //            },
    //            async:true,
    //            error: function (XMLHttpRequest, textStatus, errorThrown) {
    //                alert('Error');
    //                alert(XMLHttpRequest.responseText);
    //                alert(textStatus);
    //                alert(errorThrown);
    //            }
    //        });
    //    }

    //});



    



    $('#btnSubmit').on("click", function (e) {
        e.preventDefault();
        alert('Hi');
        var bFlagvalid = 1;
        
        if ($("#register_number").val() == null || $("#register_number").val() == "") {
            $("#register_number").addClass('borderValidation');
            bFlagvalid = 0;
        }
       
        if ($("#VehicleTypeID option:selected").val() == null || $("#VehicleTypeID option:selected").val() == "") {
            $("#VehicleTypeID").addClass('borderValidation');
            bFlagvalid = 0;
        }
        if( bFlagvalid== 0) {
            return 0;
        }
        alert('A');

        var formData = new FormData();
        var file = document.getElementById("upload_file1").files[0];
        formData.append("VehicleTypeID", $("#VehicleTypeID option:selected").val());
        formData.append("ProofTypeID", $("#ProofTypeID option:selected").val());
        formData.append("VehicleNo", $("#register_number").val());
        formData.append("Description", $("#truck_description").val());
        formData.append("InsuredBy", $("#truck_insuredby").val());
        formData.append("InsuranceStartDate", $("#StartDate").val());
        formData.append("InsuranceExpDate", $("#EndDate").val());
        formData.append("GPSStatus", $("#gpsstatus option:selected").val());
        formData.append("Phone", $("#truck_phone").val());
        formData.append("ContactName", $("#altr_name").val());
        formData.append("postedFile", file);
        alert('B');
        
        

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddTruck1","TLoader")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                alert(response);
                
            },
            error: function (error) {
                alert('Error');
            }
        });
    });
    function ResetData() {
         $("#register_number").val('');
         $("#truck_description").val('');
         $("#truck_insuredby").val('');
         $("#StartDate").val('');
         $("#EndDate").val('');
         $("#gpsstatus").val('');
         $("#truck_phone").val('');
         $("#altr_name").val('');
    }
</script>
