@model TransportService.Web.Models.Activity.LoaderEdit
@{
    ViewBag.Title = "BookLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="col-sm-12 pull-left">
            @*<input id="btnSubmit" type="submit" class="btn btn-primary" name="regform" value="Create Truck">*@
            <input type="button" id="btnSubmit" class="btn btn-primary" name="regform" value="Book Load">
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><b>Load Details</b></h5>
                </div>
                <div class="panel-body">

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Source</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            @Html.DropDownList("Source", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text",Model.SourceID), "Select Source", new { @class = "form-control", @id = "SourceID", Title = "Select Source",@disabled=true })

                        </div>

                    </div>

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i> Destination </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            @Html.DropDownList("Destination", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text",Model.DestinationID), "Select Destination", new { @class = "form-control", @id = "DestinationID", Title = "Select Destination" , @disabled = true })

                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Start Date</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @*<input type="date" id="StartDate" class="form-control dropwidth" placeholder="YYYY-MM-DD" title="Select Start Date" />*@
                            @Html.TextBoxFor(Model => Model.PickUpDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @id = "StartDate" , @disabled = true})
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>End Date</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="date" id="EndDate" class="form-control dropwidth" placeholder="YYYY-MM-DD" title="Select End Date" />
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i>Trip Status </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-shopping-cart"></i></span>
                            <select id="TripStatus" class="form-control" title="Select Load Type">
                                <option value="0">In Process</option>
                                <option value="1">Complted</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-sm-6 form-group">
                        <label><i class="red">*</i>Vehicle </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-hand-o-right"></i></span>
                            @Html.DropDownList("model.VehicleID", new SelectList((System.Collections.IEnumerable)ViewData["VehicleList"], "Value", "Text"), "Select Source", new { @class = "form-control dropwidth", @id = "VehicleID", Title = "Select VehicleType" })
                        </div>
                    </div>



                    <div class="col-sm-6 form-group">
                        <span>@Html.ActionLink("Add Vehicle", "AddTruck", new { isTripCall = 1 }, new { @class = "linkDecoration" }) <br /></span>

                    </div>
                    <div id="divVehicleCapcity" class="col-sm-6 form-group">


                    </div>
                    <label id="lblTest"></label>





                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><b>Good Details</b> </h5>
                </div>

                <div class="panel-body">


                    <div class="form-group">
                        <input type="hidden" id="RowCount" name="RowCount" value="0">

                        <div>
                            <table class="table table-bordered" id="tblGoodsDetail" title="Enter Good Details">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th style="display:none"></th>
                                        <th>Material</th>
                                        <th style="display:none"></th>
                                        <th>Unit</th>
                                        <th>Height</th>
                                        <th>Width</th>
                                        <th>Length</th>
                                        <th>Weight(Tonn)</th>
                                        <th>Qty</th>
                                        <th>Price</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LoadDetails)
                                    {
                                        <tr>
                                            <td class="clsSrNo">@item.LoadDetailID</td>
                                            <td class="clsMaterialID" style="display:none"> @item.MaterialID</td>
                                            <td class="clsMaterial">@item.MaterialName</td>
                                            <td style="display:none" class="clsConversionFactor">@item.ConversionFactor</td>
                                            <td class="clsUnit">@item.UnitOfMeasure</td>
                                            <td class="clsHeight">@item.Height</td>
                                            <td class="clsWidth">@item.Width</td>
                                            <td class="clslength">@item.Length</td>
                                            <td class="clsWeight">@item.Weight</td>
                                            <td class="clsQuantity">@item.Qty</td>
                                            <td class="clsMaterialValue">@item.MaterialValue</td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Loader's Budget </h5>
                            </div>
                            <div class="panel-body">
                                <h1 style="color:blueviolet;text-align:center;" id="divDoorToDoor"> <label class="fa fa-inr sc-brqgnP bKUXLW" id="lblQuotation">@Model.PrimaryQuotaionValue</label></h1>
                                @*<i class="fa fa-inr"></i>*@


                            </div>
                        </div>
                        <div class="text-info"><h3>For Negotiation, Contact : 8999321141</h3></div>
                    </div>




                </div>


            </div>
        </div>
    </div>
</div>
}
<script>
    var routeArray = new Array();
    $(document).ready(function () {
        

    });
   


    
    $(document).on('click', '#btnSubmit', function (e) {
        e.preventDefault();


        var bflagValid = 1;
        var idArrRoot = [];
        $('.RootID').each(function (k, v) {
            var tdVals = $(this).attr("id") + "~" + $(this).attr('SeqNo');
            idArrRoot.push(tdVals);
        });



        if ($("#SourceID option:selected").val() == null || $("#SourceID option:selected").val() == "") {
            bflagValid = 0;
            $("#SourceID").addClass('borderValidation');

        }
        if ($("#DestinationID option:selected").val() == null || $("#DestinationID option:selected").val() == "") {
            bflagValid = 0;
            $("#DestinationID").addClass('borderValidation');

        }
        if ($("#StartDate").val() == null || $("#StartDate").val() == "") {
            bflagValid = 0;
            $("#StartDate").addClass('borderValidation');

        }

        if ($("#EndDate").val() == null || $("#EndDate").val() == "") {
            bflagValid = 0;
            $("#EndDate").addClass('borderValidation');

        }


        if ($("#VehicleID option:selected").val() == null || $("#VehicleID option:selected").val() == "") {
            bflagValid = 0;
            $("#VehicleID").addClass('borderValidation');
        }


       

        
      
        if (bflagValid == 0) {
            return 0;

        }

       


       

        //adding Load Grid Details In Array
        var idArrLoadDetails = [];
        $('#tblGoodsDetail tbody tr').each(function (k, v) {
            var trElement = $(this);

            var tdVals = trElement.find('td.clsSrNo').text() + "~" +
                trElement.find('td.clsMaterialID').text() + "~" +
                trElement.find('td.clsConversionFactor').text() + "~" +
                trElement.find('td.clsUnit').text() + "~" +
                trElement.find('td.clsHeight').text() + "~" +
                trElement.find('td.clsWidth').text() + "~" +
                trElement.find('td.clslength').text() + "~" +
                trElement.find('td.clsWeight').text() + "~" +
                trElement.find('td.clsQuantity').text() + "~" +
                trElement.find('td.clsMaterialValue').text();
            idArrLoadDetails.push(tdVals);


        });

        var TripDetails = [];
        for (var i = 0; i < idArrLoadDetails.length; i++) {
            var arrElement = idArrLoadDetails[i].split("~");
            item = {}
            item["TripDetailID"] = arrElement[0];
            item["MaterialID"] = arrElement[1];
            item["ConversionFactor"] = arrElement[2];
            item["UnitOfMeasure"] = arrElement[3];
            item["Height"] = arrElement[4];
            item["Width"] = arrElement[5];
            item["Length"] = arrElement[6];
            item["Weight"] = arrElement[7];
            item["Qty"] = arrElement[8];
            item["MaterialValue"] = arrElement[9];
            TripDetails.push(item);
        }

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/TLoader/SaveTrip',
            data:
            {
                SourceID: $("#SourceID option:selected").val(),
                DestinationID: $("#DestinationID option:selected").val(),
                VehicleID: $("#VehicleID option:selected").val(),
                TripEndDate: $("#EndDate").val(),
                TripStartDate: $("#StartDate").val(),
                TripStatus: $("#TripStatus option:selected").val(),
                CityRootId: null,
                LoadID:@Model.LoadID,
                _tripDetails: TripDetails

            },
            success: function (da) {
                alert(da);
                $('#showrootdetails').attr('SeqNo', 0);
                $('#btnAddGoods').val('Add Good Details');
                window.location.href = "/TLoader/Index";
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error");
            }
        });

    });
</script>