@model TransportService.Web.Models.Masters.LoginUser
@using (Html.BeginForm("LoginUser", "TLoader", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title text-center"> <h3><b>Sign in</b> </h3> to continue</div>

                    </div>
                    <div class="panel-body" style="margin:5%">
                        <div class="col-md-10 form-group">

                            @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", placeholder = "Email Or Mobile No.", title = "UserName", @id = "txt_UserName" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @style = "color:Red;font-size:14px;" })

                        </div>
                        <div class="col-md-10 form-group ">

                            @Html.PasswordFor(a => a.Password, new { @class = "form-control", placeholder = "Password", title = "Password", @id = "txt_Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:Red;font-size:14px;" })
                        </div>
                        <div class="col-md-10 form-group ">
                            <div class="col-md-3">
                                <input id="btnLogin" type="submit" class="btn btn-primary" value="Sign In" placeholder="">

                            </div>
                            <div class="col-md-6">
                                @Html.ActionLink("Create New Account", "TRegisterUser", null, new { @class = "linkDecoration", @id = "btnChangePassword" })
                            </div>


                        </div>
                        <span style="color:Red;font-size:14px;">@ViewBag.error</span>

                    </div>
                </div>

            </div>

        </div>

    </div>
}