@model IEnumerable<TransportService.Web.Models.Masters.RankingCriteria>
@using TransportService.Web.Models.Masters
@{
    ViewBag.Title = "Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .rating {
        display: inline-block;
        position: relative;
        height: 50px;
        line-height: 50px;
        font-size: 50px;
    }

        .rating label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            cursor: pointer;
        }

            .rating label:last-child {
                position: static;
            }

            .rating label:nth-child(1) {
                z-index: 5;
            }

            .rating label:nth-child(2) {
                z-index: 4;
            }

            .rating label:nth-child(3) {
                z-index: 3;
            }

            .rating label:nth-child(4) {
                z-index: 2;
            }

            .rating label:nth-child(5) {
                z-index: 1;
            }

            .rating label input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }

            .rating label .icon {
                float: left;
                color: transparent;
            }

            .rating label:last-child .icon {
                color: #000;
            }

        .rating:not(:hover) label input:checked ~ .icon,
        .rating:hover label:hover input ~ .icon {
            color: #09f;
        }

        .rating label input:focus:not(:checked) ~ .icon:last-child {
            color: #000;
            text-shadow: 0 0 5px #09f;
        }

    .fontli {
        font-size: 18px;
        list-style-type: none;
        padding-left: 10px;
        font-family: 'Open Sans', sans-serif, Tahoma, Arial;
    }

    .form-line {
        font-size: 16px;
        list-style-type: none;
        padding-left: 10px;
        font-family: 'Open Sans', sans-serif, Tahoma, Arial;
    }

    .formHead {
        background-color: #ef6614;
        width: 700px;
        position: relative;
        padding: 15px 120px 5px;
        color: #fff;
    }

    .icon {
        float: right;
        font-size: 25px !important;
        margin-top: 5px;
    }

    .waves-effect {
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        vertical-align: middle;
        z-index: 1;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
    }

    .btn, .btn-large, .btn-small {
        text-decoration: none;
        color: #fff;
        background-color: #CE5B0D;
        text-align: center;
        letter-spacing: .5px;
        -webkit-transition: background-color .2s ease-out;
        transition: background-color .2s ease-out;
        cursor: pointer;
        font-size: 14px;
        outline: 0;
        border: none;
        border-radius: 2px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        padding: 0 16px;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }

    button, input, optgroup, select, textarea {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }

    .btn:hover {
        background-color: rgb(30, 30, 32);
        color: #fff;
    }
</style>
<div class="container">
    <div role="main" style="margin:0 auto;background-color: #F4F4F4;width:700px;">
        <h2 class="formHead">Tell Us What You Think</h2>
        <div class="formPage" style="width:700px;margin-top: 5px;">

            <table id="tblQuestion">
                <tbody>
                    @{
                        int SrNo = 0;
                        foreach (RankingCriteria item in Model)
                        {
                            string groupName = "Group";
                            SrNo = SrNo + 1;
                            groupName = groupName + item.CriteriaQuestionID.ToString();
                            <tr>
                                <td class="clsSrNo ">
                                    
                                    <input type="hidden" value="@SrNo" />
                                </td>
                                <td class="clsCriteriaQuestionID " >
                                    <input type="hidden"  value="@item.CriteriaQuestionID"/>
                                    
                                </td>
                                <td>
                                    <div class="row" style="width:700px;margin-left: 0;height: 45px;">
                                        <div class="col-md-6">
                                            <h1 class="fontli">@item.CriteriaQuestion?</h1>
                                        </div>
                                        <div class="col-md-6" style="padding-left: 85px;">
                                            <form class="rating">
                                                <label title="@item.Answer1">
                                                    <input type="radio" name="@groupName" value="@item.Answer1Value" />
                                                    <span class="icon">★</span>
                                                </label>
                                                <label title="@item.Answer2">
                                                    <input type="radio" name="@groupName" value="@item.Answer2Value" />
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                </label>
                                                <label title="@item.Answer3">
                                                    <input type="radio" name="@groupName" value="@item.Answer3Value" />
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                </label>
                                                <label title="@item.Answer4">
                                                    <input type="radio" name="@groupName" value="@item.Answer4Value" />
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                </label>
                                                <label title="@item.Answer5">
                                                    <input type="radio" name="@groupName" value="@item.Answer5Value" />
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                </label>
                                            </form>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        }

                    }
                </tbody>

            </table>

            <!-- <div class="row" style="width:700px;margin-left: 0;height: 45px;">
                <div class="col-md-6" style="margin-top: -17px;">
                    <h1 class="fontli">Handling Material ?</h1>
                </div>
                <div class="col-md-6" style="margin-top: -16px;padding-left: 85px;">
                    <form class="rating" >
                        <label for="star1" title="Very Poor">
                        <input type="radio" id="star1" name="rating" value="1" />
                        <span class="icon">★</span>
                        </label>
                        <label for="star1" title="Could be better">
                        <input type="radio" id="star2" name="rating" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        </label>
                        <label for="star1" title="OK">
                        <input type="radio" id="star3" name="rating" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        </label>
                        <label for="star1" title="Very Good">
                        <input type="radio" id="star4" name="rating" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        </label>
                        <label for="star1" title="Excellent">
                        <input type="radio" id="star5" name="rating" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        </label>
                    </form>
                </div>

            </div> -->
            <div class="row" style="width:700px;margin-left: 0;height: 45px;">
                <div class="col-md-6" style="margin-top: -15px;">
                    <h1 class="fontli">Likely to use Bhadaa.com again?</h1>
                </div>
                <div class="col-md-6" class="input-type" style="padding-left: 100px;font-size: 16px !important;">
                    <input type="radio" name="chk_type" value="true" checked="checked"> Yes <span class="checkmark"></span>
                    <input type="radio" name="chk_type" value="false"> No <span class="checkmark"></span>
                </div>
            </div>

            <div class="row" style="width:700px;margin-left: 0;height: 45px;">
                <div class="col-md-6" style="margin-top: -15px;">
                    <h1 class="fontli">Anything else? Please let us know here.</h1>
                </div>
                <div class="col-md-6" class="input-type" style="padding-left: 100px;font-size: 16px !important;">
                    <textarea id="txtOtherQuestion" cols="25" rows="2"></textarea>
                </div>
            </div>

            <div class="row" style="float: right;margin-right:170px;height: 45px;">
                <div style="text-align:center" class="form-buttons-wrapper ">
                    <button type="submit" id="btnSubmit" class="form-submit-button form-submit-button-Book loginBtn waves-effect waves-light btn " data-component="button" data-content="">
                        Submit
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(':radio').change(function () {
        console.log('New star rating: ' + this.value);
    });
</script>
<script>
    function myFunction() {
        location.replace("fm3.html")
    }
</script>
<script>
    var GroupList = [];
    $(document).on("click", "#btnSubmit", function (e) {
        
        
        var ArrRankingCriteriaDetails = [];

        $('#tblQuestion tbody tr').each(function (k, v) {
            var groupName = "Group";
            var trElement = $(this);
            //groupName = groupName + trElement.find('td.clsCriteriaQuestionID').text();
            groupName = groupName + trElement.find('td.clsCriteriaQuestionID').find("input:hidden").val(); 
            var AnswerValue = $("input[name='" + groupName + "']:checked").val();
            var Answer = $("input[name='" + groupName + "']:checked").attr('Text');
            
            alert(groupName);
            //var tdGroupVal = trElement.index() + "~" + groupName;
            GroupList.push(groupName);

            var tdVals = trElement.find('td.clsSrNo').find("input:hidden").val() + "~" +
                trElement.find('td.clsCriteriaQuestionID').find("input:hidden").val() + "~" +
                Answer + "~" +
                AnswerValue + "~";
            ArrRankingCriteriaDetails.push(tdVals);


        });
        var isValid = 1;
        for (var i = 0; i < GroupList.length; i++) {
            if (!$("input[name='" + GroupList[i] + "']:checked").val()) {
                //alert(GroupList[i]);
                //alert ( $("input[name='" + GroupList[i] + "']:checked").val());
                isValid = 0;
                break;
            }
        }

        if (isValid == 0) {
            alert("Answer all the Questions");
            return;

        }

        var tripRankingDetails = [];
        for (var i = 0; i < ArrRankingCriteriaDetails.length; i++) {
            var arrElement = ArrRankingCriteriaDetails[i].split("~");
            item = {}
            item["SerialNo"] = arrElement[0];
            item["CriteriaQuestionID"] = arrElement[1];
            item["Answer"] = arrElement[2];
            item["AnswerValue"] = arrElement[3];

            tripRankingDetails.push(item);
        }


        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/TLoader/RankTheTrip',
            data:
            {

                TripID :@ViewData["TripID"] ,
                TransporteUserID : @ViewData["TransporteUserID"] ,
                tripRankingDetails: tripRankingDetails,
                LikeToUseBhada: $("input[name='chk_type']:checked").val(),
                AnyOtherQuestion: $('#txtOtherQuestion').val(),

            },
            success: function (da) {
                alert(da);
                ClearData();
                window.location.href = "/TLoader/Index";
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error");
            }
        });


    });
    function ClearData() {

        for (var i = 0; i < GroupList.length; i++)
        {
            //var arrElement = GroupList[i].split("~");
            //var groupName = arrElement[1];
            var groupName = GroupList[i];
            $("input:radio[name='"+groupName+"']").each(function () { $(this).prop('checked', false); });

        }
    }
</script>