@using TransportService.Web.Models
@{
    ViewBag.Title = "NewLoginPallavi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>

    @*Date 17-1-2020: New UI for Login*@

    <link href="~/assets/css/loginStyle.css" rel="stylesheet" />
    <link href="~/assets/css/materialize.css" rel="stylesheet" />
    <link href="~/assets/css/normalize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">


    @*Date:17-1-2020 :New LoginUI*@
    <script src="~/assets/js/loginScript.js"></script>
    <script src="~/assets/js/materialize.min.js"></script>
    <script src="~/assets/js/routie.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <style>

        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .reg-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .reg-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
        
    </style>
</head>

<body>
    <div class="row gmailStyle">
        <div class="container-fluid">
            <div class="valign-wrapper screenHeight">
                <div class="col card s12 m8 l6 xl4 autoMargin setMaxWidth ">
                    <div class="row hidden" id="progress-bar">
                        <div class="progress mar-no">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                    <div class="clearfix mar-all pad-all"></div>

                    <!-- <img src="images/Googlelogo.png" class="logoImage" /> -->
                    <h4 style="margin-left: 130px;color: #f97316;margin-top: -15px;">Bhadaa.com</h4>
                    <h5 class="center-align mar-top mar-bottom formTitle">Sign In</h5>
                    <p class="center-align pad-no mar-no">
                        to continue to
                        <a href="bhadaa.html"
                           style="text-decoration-line: underline;text-decoration-style:solid;">bhadaa.com</a>
                    </p>

                    <div class="clearfix mar-all pad-all"></div>

                    <div id="formContainer" class="goRight" style="margin-top: -30px;">

                        <form class="signUpForm">
                            <div class="input-fields-div autoMargin">
                                <!-- <div class="row input-inline-field">
        <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
        </div>
    </div> -->

                                <div class="input-field">
                                    <input id="hdnEmailExist" type="hidden" value="0">
                                    <input id="txt_Email" type="text" class="validate">
                                    <label for="txt_Email">Email ID</label>
                                    <div id="divEmailValidation" class="form-group text-danger hidden">
                                        That Email already exist. Try again.
                                    </div>
                                    <span class="helper-text" data-error="wrong" data-success="right">
                                        You can pick your
                                        <strong>Email</strong> or <strong>Mobile</strong> numer as Username
                                    </span>
                                </div>
                                <div class="input-field">
                                    <input id="hdnMobileExist" type="hidden" value="0">
                                    <input id="txt_MobileNumber" type="text" class="validate">
                                    <label for="txt_MobileNumber">Mobile No</label>
                                    <div id="divMobileValidation" class="form-group text-danger hidden">
                                        That Mobile No already exist. Try again.
                                    </div>





                                </div>
                                <div class="row input-inline-field">
                                    <div id="reg_passwordDiv" class="input-field col s6">
                                        <input id="txt_Password" type="password" class="validate">
                                        <label for="txt_Password">Password</label>
                                        <a href="javascript:void(0)" class="showPassword" onclick="showPassword()">
                                            <i class="material-icons md-18">visibility</i>
                                        </a>
                                    </div>
                                    <div id="rePasswordDiv" class="input-field col s6">
                                        <input id="txt_ConfirmPassword" type="password" class="validate">
                                        <label for="txt_ConfirmPassword">Confirm</label>
                                    </div>
                                    <div class="input-field col s12 mar-no">
                                        <span class="helper-text" data-error="wrong" data-success="right">
                                            Use 8 or more
                                            characters with a mix of letters, numbers & symbols
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-6 ">
                                    
                                    <div class="input-group">
                                        
                                        <select id="ddlType" class="form-control" title="Select User Type">
                                            <option value="0"> Select User Type </option>
                                            <option value="@enumRole.Transporter.GetHashCode()"> @enumRole.Transporter.ToString() </option>
                                            <option value="@enumRole.Loader.GetHashCode()">@enumRole.Loader.ToString()</option>
                                            <option value="@enumRole.Broker.GetHashCode()">@enumRole.Broker.ToString() </option>
                                        </select>
                                    </div>
                                </div>


                                @*<div   class="row">
                                    <div class=" col-sm-4" >
                                        <input type="radio" class="radio" name="chk_type" value="Shipper" checked=""> Shipper
                                       
                                    </div>
                                    <div class="input-field col-sm-4" >
                                        <input type="radio" class="radio" name="chk_type" value="Transporter"> Transporter
                                    </div>
                                    <div class="input-field col-sm-4" >
                                        <input type="radio" class="radio" name="chk_type" value="Broker"> Broker
                                    </div>

                                </div>*@

                                <div class="row">
                                    <p>I have an account <a href="/TLoader/LoginUser" class="backToLogin">Login Now</a></p>
                                </div>
                                

                                <div class="input-fields-div autoMargin right-align">
                                    <button type="submit" id="btnSubmit"
                                            class="registerBtn waves-effect waves-light btn">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>


                    <div class="clearfix mar-all pad-all"></div>
                </div>
            </div>
        </div>
    </div>


    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function drpFunction() {
            document.getElementById("regDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn1')) {
                var dropdowns1 = document.getElementsByClassName("reg-content");
                var i;
                for (i = 0; i < dropdowns1.length; i++) {
                    var openDropdown = dropdowns1[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <script>
        $("#txt_Email").blur(function () {
            if ($('#txt_Email').val() != "" || $('#txt_Email').val() != null) {

                $.ajax({
                    type: 'Get',
                    dataType: 'json',
                    url: '/TLoader/GetUserIDWhereEmail',
                    data:
                    {
                        Email: $('#txt_Email').val(),
                    },
                    success: function (response) {
                        $('#hdnEmailExist').val(response);
                        //window.location.href = "/TLoader/New_LoaderIndex";
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error " + errorThrown);
                    }
                });
            }
        });

        $("#txt_MobileNumber").blur(function () {
            if ($('#txt_MobileNumber').val() != "" || $('#txt_MobileNumber').val() != null) {

                $.ajax({
                    type: 'Get',
                    dataType: 'json',
                    url: '/TLoader/GetUserIDWhereMobileNo',
                    data:
                    {
                        MobileNo: $('#txt_MobileNumber').val(),
                    },
                    success: function (response) {

                        $('#hdnMobileExist').val(response);

                        //window.location.href = "/TLoader/New_LoaderIndex";
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error " + errorThrown);
                    }
                });
            }

        });




  $(document).on('click', '#btnSubmit', function (e) {
        e.preventDefault();
      alert('A');

        /*
         * validation checking
         * 
         * */
        if (ValidateInputs()==0) {
            return;
      }
      alert('B');
        
      var IsComapny = @ViewBag.IsCompany;
      var ClientTypeID = $("#ddlType option:selected").val();
        var DBClientTypeID;
        if (ClientTypeID == @enumRole.Transporter.GetHashCode() && IsComapny == @enumIsCompany.Company.GetHashCode()) {
            DBClientTypeID = @enumDBClientTypeID.Transporter.GetHashCode();
        }
        else if (ClientTypeID == @enumRole.Loader.GetHashCode() && IsComapny == @enumIsCompany.Company.GetHashCode()) {
            DBClientTypeID = @enumDBClientTypeID.Loader.GetHashCode();
        }
        else if (ClientTypeID == @enumRole.Broker.GetHashCode() && IsComapny == @enumIsCompany.Company.GetHashCode()) {
            DBClientTypeID = @enumDBClientTypeID.Corporater.GetHashCode();
        }
        else if (ClientTypeID == @enumRole.Transporter.GetHashCode() && IsComapny == @enumIsCompany.Individual.GetHashCode()) {
            DBClientTypeID = @enumDBClientTypeID.IndividualTransporter.GetHashCode();
        }
        else if (ClientTypeID == @enumRole.Loader.GetHashCode() && IsComapny == @enumIsCompany.Individual.GetHashCode()) {
            DBClientTypeID = @enumDBClientTypeID.IndividualLoader.GetHashCode();
        }
        else if (ClientTypeID == @enumRole.Broker.GetHashCode() && IsComapny == @enumIsCompany.Individual.GetHashCode()) {
            DBClientTypeID = @enumDBClientTypeID.Broker.GetHashCode();
        }
        

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/TLoader/TRegisterUser',
            data:
            {
                ClientTypeID: DBClientTypeID,
                Email: $('#txt_Email').val(),
                Password: $('#txt_Password').val(),
                Mobile: $('#txt_MobileNumber').val()
                
            },
            success: function (da) {
                alert(da);

                window.location.href = "/TLoader/LoginUser";
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error " + errorThrown);
            }
        });

    });



        function ValidateInputs() {
            var IsValid = 1;
            if ($('#txt_Email').val() == "" || $('#txt_Email').val() == null) {
                alert("hi");
                $('#txt_Email').addClass('borderValidation');
                IsValid = 0;
            }

            //if ($('input[name="rdbIsCompany"]:checked').val() == null || $('input[name="rdbIsCompany"]:checked').val == "") {
            //    $('#divIsCompanyValidation').removeClass('hidden');
            //    IsValid = 0;

            //}
            if ($('#txt_Password').val() == "" || $('#txt_Password').val() == null) {
                $('#txt_Password').addClass('borderValidation');
                IsValid = 0;
            }
            if ($('#txt_MobileNumber').val() == "" || $('#txt_MobileNumber').val() == null) {
                $('#txt_MobileNumber').addClass('borderValidation');
                IsValid = 0;
            }
            if ($('#txt_ConfirmPassword').val() == "" || $('#txt_ConfirmPassword').val() == null) {
                $('#txt_ConfirmPassword').addClass('borderValidation');
                IsValid = 0;
            }
            if (($('#txt_Password').val() != "" || $('#txt_Password').val() != null) || ($('#txt_ConfirmPassword').val() != "" || $('#txt_ConfirmPassword').val() != null)) {
                if ($('#txt_Password').val() != $('#txt_ConfirmPassword').val()) {
                    $('#divPasswordValidation').removeClass('hidden');
                    IsValid = 0;
                }

            }


            //}
            if ($('#hdnEmailExist').val() != 0) {
                $('#divEmailValidation').removeClass('hidden');
                IsValid = 0;

            }
            else {
                if (!$('#divEmailValidation').hasClass('hidden')) {
                    $('#divEmailValidation').addClass('hidden');
                }
            }
            if ($('#hdnMobileExist').val() != 0) {
                $('#divMobileValidation').removeClass('hidden');
                IsValid = 0;

            }
            else {
                if (!$('#divMobileValidation').hasClass('hidden')) {
                    $('#divMobileValidation').addClass('hidden');
                }
            }
            return IsValid;
        }

    </script>




</body>

</html>




