@using TransportService.Web.Models.Masters
@using TransportService.Web.Models
@using System
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="cache-control" content="public">
    <meta content="charset=2UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Online logistics booking">
    <meta name="google-site-verification" content="MzuCdoNA5eVV0s2Tccx98exv1iuxfAaxljJOYfkQNwU">
    <title>Online Load, Transport</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    @*Scrips*@
    @*<script src="jquery-1.11.1.min.js"></script>*@
    @*<script src="jquery-ui.min.js"></script>*@
    @*<script src="angular.min.js"></script>*@
    @*<script src="NewTransfer.js"></script>*@
    @*<script src="login.js"></script>*@

    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/angular.min.js"></script>
    <script src="~/assets/js/NewTransfer.js"></script>
    <script src="~/assets/js/login.js"></script>
    <script src="https://kit.fontawesome.com/25f37ca790.js" crossorigin="anonymous"></script>
   
    
    <script src="~/assets/js/bootstrap-dropdownhover.min1c9b.js"></script>
    <script src="~/assets/js/wpfront-scroll-top.min.js"></script>
    <script src="~/assets/js/bootstrap.min1c9b.js"></script>

    @*Scripts*@

    <!-- #region Styles -->
    @*<link href="New_Recent_Style.css" rel="stylesheet" />*@
    @*<link href="jquerynew-ui.css" rel="stylesheet" />*@
    @*<link href="index-style.css" rel="stylesheet" />*@
    @*<link href="contcatus.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="./bhadaa/css/style_animation.css" type="text/css" media="all">*@
    @*<link rel="stylesheet" id="bootstrap-css-css" href="./bhadaa/css/bootstrap.css" type="text/css" media="all">*@
    @*<link rel="stylesheet" id="wpfront-scroll-top-css" href="./bhadaa/css/wpfront-scroll-top.min.css" type="text/css" media="all">*@
    @*<link rel="stylesheet" id="logistic-pro-animate-css" href="./bhadaa/css/animate.min.css" type="text/css" media="all">*@
    @*<link rel="stylesheet" id="bootstrap-dropdownhover-css" href="./bhadaa/css/bootstrap-dropdownhover.min.css" type="text/css" media="all">*@
    @*<link rel="stylesheet" id="logistic-pro-style-css" href="./bhadaa/css/style.css" type="text/css" media="all">*@
    @*<link href="custom.css" rel="stylesheet" />*@
    <link href="~/assets/css/New_Recent_Style.css" rel="stylesheet" />
    <link href="~/assets/css/jquerynew-ui.css" rel="stylesheet" />
    <link href="~/assets/css/index-style.css" rel="stylesheet" />
    <link href="~/assets/css/contcatus.css" rel="stylesheet" />
    <link href="~/assets/css/style_animation.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/css/wpfront-scroll-top.min.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Header Animation -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" id="logistic-pro-animate-css" type="text/css" media="all" />
    <!-- Header Animation link end -->
    <link href="~/assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet" id="bootstrap-dropdownhover-css" type="text/css" media="all" />
    <link href="~/assets/css/style.css" rel="stylesheet" id="logistic-pro-style-css" type="text/css" media="all" />
    <!-- <link rel="stylesheet" id="logistic-pro-custom-css" href="./bhadaa/css/custom.css" type="text/css" media="all"> -->
    <link href="~/assets/css/custom.css" rel="stylesheet" />


    <style>

        .services-bottom-sec {
            color: #fff
        }

        .services-head {
            color: #424041;
            padding-top: 20px
        }

        .advantage-head {
            color: #424041;
            padding-top: 35px
        }

        .advantage-bg {
            background: url(images/testimonials.jpg?version23Apr2018) repeat scroll center top / cover
        }

        .client-txt {
            font-size: 20px;
            color: #ff6000
        }

        .who {
            color: #424041
        }

        .client {
            color: #fff
        }

        .c_col_1-rentl {
            width: 150px;
            float: left;
            position: relative;
            border-right: 1px solid #d6d3d3;
            padding: 0;
        }

        .c_col_2-rentl {
            width: 130px;
            float: left;
            border-right: 1px solid #d6d3d3;
            padding: 0;
        }

        .select_box_pac-ren {
            -moz-appearance: none;
            border: 0;
            color: #000;
            background: none;
            float: left;
            font-weight: 600;
            font-size: 15px;
            outline: medium none;
            padding: 22px 0 22px 34px;
            width: 150px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-family: 'Open Sans', sans-serif, Tahoma, Arial !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
        }

        .select_box_pac-ren1 {
            -moz-appearance: none;
            border: 0;
            color: #000;
            background: none;
            float: left;
            font-weight: 600;
            font-size: 15px;
            outline: medium none;
            padding: 22px 0 22px 30px;
            width: 130px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-family: 'Open Sans', sans-serif, Tahoma, Arial !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
        }

        .cab-btn, .cab-button {
            border: none;
            display: inline-block;
            padding: 5px 10px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
        }
    </style>
    <!-- #endregion -->
</head>

<body data-whatinput="mouse" cz-shortcut-listen="true">
    <!--  TOP-HEADER -->
    <div class="visible-xs" style="background-color:#e4e4e4;padding:10px 0px 10px 0px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-7 text-left">
                    <a href="tel:+919881700017"><span style="color:#f97316 !important; font-size:14px">Call Now - 9881700017</span></a>
                </div>
                <!-- <div class="col-xs-5 text-right" style="float:right">
                  <ul class="navbar-nav">
                    <li style="text-align:center"> <a
                        href="https://play.google.com/store/apps/details?id=in.vesolve.truckhall.activities" class=""
                        target="_blank"><span
                          style=" border:1px solid #8D9092 ; font-size:11px; padding:5px 5px 5px 5px; background-color:#fff;   border-radius:2px">
                          <img src="./bhadaa/images/google-play-a.png" style="width:20px" alt="Google Play Store">Download
                          App</span> </a></li>
                  </ul>
                </div> -->
            </div>
        </div>
    </div>
    <!-- TOP-HEADER END -->
    <!-- MAIN-HEADER -->
    <header class="header-area transparent">
        <div class="navigation">
            <!-- navigation-start -->
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button aria-expanded="false" data-target="#main-navigation" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo">
                            <a href="http://www.bhadaa.com/" alt="Bhadaa.com-logo">
                                <img src="logo.png" style="padding-top:8px; width: 177px" alt="Bhadaa.com-logo">
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="main-navigation">
                        <ul class="nav navbar-nav navbar-right custom-nav">
                            <li> <a href="#home.html" class="">Home</a> </li>
                            <li class="dropdown">
                                <a href="#Loader" class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Loader <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu dropdownhover-bottom">
                                    <li class="">
                                        @Html.ActionLink("Find Truck", "Index", "TLoader")

                                    </li>
                                    <li class="">

                                        @if (Session[UserColumns.UserID] == null)
                                        {
                                            @Html.ActionLink("Post Load", "AddLoad", "TLoader")
                                        }
                                        else
                                        {
                                            if (Convert.ToInt32(Session[RoleColumns.RoleID]) == enumRole.Loader.GetHashCode())
                                            {
                                                @Html.ActionLink("Post Load", "AddLoad", "TLoader")
                                            }

                                        }
                                    </li>
                                    <li class=""> <a href="#" class="">Get Quote</a> </li>
                                    <li class=""> <a href="#" class="">Distance Calculator</a> </li>
                                </ul>
                            </li>


                            <li class="dropdown">
                                <a href="#Trucker" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Trucker <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu dropdownhover-bottom">
                                    <li class="">
                                        @*<a href="#" class="">Find Load</a>*@
                                        @Html.ActionLink("Find Load", "LoaderIndex", "TLoader")
                                    </li>
                                    <li class="">
                                        @*<a href="#" class="">Post Truck</a>*@
                                        @if (Session[UserColumns.UserID] == null)
                                        {
                                            @Html.ActionLink("Post Truck", "AddTrip", "TLoader")
                                        }
                                        else
                                        {
                                            if (Convert.ToInt32(Session[RoleColumns.RoleID]) == enumRole.Transporter.GetHashCode())
                                            {
                                                @Html.ActionLink("Post Truck", "AddTrip", new { isBookLoad = false })
                                            }
                                        }
                                    </li>
                                    <li class=""> <a href="#" class="">Get Quote</a> </li>
                                    <li class=""> <a href="#" class="">Distance Calculator</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#Broker" class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Broker <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu dropdownhover-bottom">
                                    <li class="">
                                        <a href="#" class="">Find Load</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="">Find Truck</a>
                                    </li>
                                    <li class=""> <a href="#" class="">Post Load</a> </li>
                                    <li class=""> <a href="#" class="">Post Truck</a> </li>
                                    <li class=""> <a href="#" class="">Get Quote</a> </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#Services" class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Services <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu dropdownhover-bottom">
                                    <li class=""> <a href="http://www.bhadaa.com/people" class="">Distance Calculator</a> </li>
                                    <li class=""> <a href="http://www.bhadaa.com/careers" class="">Contact Us</a> </li>
                                    <li class=""> <a href="http://blog.bhadaa.com/" class="">Blog</a> </li>
                                </ul>
                            </li>
                            <li> <a href="http://www.bhadaa.com/suppliers" class="">About Us </a> </li>


                            <li class="">
                                @*<a href="login.html" class=""><span style=" border:1px solid #8D9092 ; padding:5px; border-radius:2px">Log in</span></a>*@
                                @*@Html.ActionLink("Log In", "LoginUser", null, new { @class = "btn-theme icon-left bg-navy-blue no-shadow d-none d-lg-inline-block align-self-center", @id = "btnSignIn" })*@
                                @if (Session[UserColumns.UserID] == null)
                                {
                                    @Html.ActionLink("Log In", "LoginUser", null, new { @class = "btn-theme icon-left bg-navy-blue no-shadow d-none d-lg-inline-block align-self-center", @id = "btnSignIn" })
                                }
                                else
                                {

                                <li class="dropdown">
                                    <a href="#Loader" class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">My Profile <span class="fa fa-angle-down"></span></a>
                                    <ul class="dropdown-menu dropdownhover-bottom">
                                        <li class="">
                                            @Html.ActionLink("My Detail", "PersonalDetail", "TLoader")

                                        </li>
                                        @if (Convert.ToInt32(Session[RoleColumns.RoleID]) == enumRole.Transporter.GetHashCode())
                                        {
                                        <li class="">
                                            @Html.ActionLink("My Vehicle", "AddTruck", new { isTripCall = 0 })
                                        </li>
                                        }
                                        <li class="">
                                            @Html.ActionLink("Log Out", "LogOut", null, new { @class = "btn-theme icon-left bg-navy-blue no-shadow d-none d-lg-inline-block align-self-center", @id = "btnSignIn" })
                                        </li>
                                        
                                    </ul>
                                </li>
                                }

                                <li class="hidden-xs">
                                    <a href="tel:+919881700017">
                                        <span style="color:#f97316 !important; font-size:16px">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-phone fa-w-16 fa-spin fa-lg">
                                                <path fill="currentColor"
                                                      d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                                                      class="">
                                                </path>
                                            </svg>- 9881700017
                                        </span>
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- MAIN-HEADER END -->

    
   
    <div>
        @RenderBody()
    </div>

    <!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
    <footer class="footer-area">
        <!--Footer Upper-->
        <div class="footer-content">
            <div class="text-center" style="padding-bottom:20px">
                <h2 style="color:#FFF">BHADAA Pvt. Ltd.</h2>
                <img src="./bhadaa/images/orange-border.png" alt="Orange Line">
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="col-sm-4 col-xs-12">
                            <div class="col-sm-12">
                                <div class="footer-head">Reach Us</div>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <i class="fa fa-map-marker"></i>&nbsp;<span class="footer-text" style="font-size: 14px;">
                                    Logstik Supply
                                    chain solutions
                                    Office 14,15 Sagar Plaza building, old Mumbai Pune Road,
                                    Kasarwadi, Pune 411034 Maharashtra India
                                </span><br><i class="fa fa-phone"></i>
                                <span class="footer-text">+91-9881700017  /  020-46760112</span> <br>
                                <i class="fa fa-envelope"></i>&nbsp;
                                <a href="mailto:info@bhadaa.com" class="footer-support">info@bhadaa.com</a>
                            </div>
                        </div>
                        <!-- <div class="col-sm-4 col-xs-12">
                          <div class="col-sm-12">
                            <div class="footer-head">Download Our App</div>
                          </div>

                          <div class="col-sm-12 col-xs-12">
                            <a href="https://play.google.com/store/apps/details?id=in.vesolve.truckhall.activities" target="_blank"
                              class="app-link"><img src="./bhadaa/images/Google-play.png" style="width:35px;height: 35px"
                                alt="Google Play Store"></a>
                          </div>
                        </div> -->
                        <div class="col-sm-4 col-xs-12">
                            <div class="col-sm-12">
                                <div class="footer-head">Services</div>
                            </div>

                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="col-sm-12">
                                <div class="footer-head">Follow us</div>
                            </div>
                            <div class="col-md-12">
                                <ul class="social-network social-circle">
                                    <li>
                                        <a href="https://www.facebook.com/Bhadaa/" target="_blank" class="icoFacebook"
                                           title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/Bhadaa" target="_blank" class="icoTwitter" title="Twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/Bhadaa" target="_blank" class="icoLinkedin"
                                           title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Two 4th column End-->
        </div>
        <!--Footer Bottom-->
        <!--Copyright-->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" style=" text-align:center;">
                        <a href="#">
                            <span style="color:#fff;font-size:14px;">Home</span>
                        </a>&nbsp; <span style="color:#ce5b0d">|</span>&nbsp; <a href="http://www.bhadaa.com/shippers">
                            <span style="color:#fff;font-size:14px;">Shippers</span>
                        </a>&nbsp; <span style="color:#ce5b0d">|</span>&nbsp;
                        <a href="http://www.bhadaa.com/transporters">
                            <span style="color:#fff;font-size:14px;">Transporters</span>
                        </a>&nbsp; <span style="color:#ce5b0d">|</span>
                        &nbsp;<a href="http://www.bhadaa.com/suppliers">
                            <span style="color:#fff;font-size:14px;">Suppliers</span>
                        </a>&nbsp; <span style="color:#ce5b0d">|</span>&nbsp;
                        <a href="http://www.bhadaa.com/people"><span style="color:#fff;font-size:14px;">People</span></a>&nbsp;
                        <span style="color:#ce5b0d">|</span>&nbsp; <a href="http://www.bhadaa.com/careers">
                            <span style="color:#fff;font-size:14px;">Careers</span>
                        </a>&nbsp; <span style="color:#ce5b0d">|</span>&nbsp;
                        <a href="http://blog.bhadaa.com/"><span style="color:#fff;font-size:14px;">Blog</span></a>&nbsp; <span style="color:#ce5b0d">|</span>&nbsp; <a href="http://www.bhadaa.com/privacy-policy">
                            <span style="color:#fff;font-size:14px;">Privacy Policy</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- =-=-=-=-=-=-= FOOTER END=-=-=-=-=-=-= -->
    <style>

        .form-errors {
            color: black;
        }

        .form-show {
            color: #f60;
        }
    </style>
    <!-- =-=-=-=-=-=-=SCROLL DIV =-=-=-=-=-=-= -->
    <div id="wpfront-scroll-top-container">
        <img src="http://omlogistics.co.in/wp-content/plugins/wpfront-scroll-top/images/icons/46.png" alt="Scroll Up" />
    </div>
    <script type="text/javascript">
        function wpfront_scroll_top_init() { if (typeof wpfront_scroll_top == "function" && typeof jQuery !== "undefined") { wpfront_scroll_top({ "scroll_offset": 100, "button_width": 0, "button_height": 0, "button_opacity": 0.8, "button_fade_duration": 200, "scroll_duration": 400, "location": 1, "marginX": 20, "marginY": 20, "hide_iframe": false, "auto_hide": false, "auto_hide_after": 2 }); } else { setTimeout(wpfront_scroll_top_init, 100); } } wpfront_scroll_top_init();
    </script>
    <!-- =-=-=-=-=-=-= SCROLL DIV END =-=-=-=-=-=-= -->
    <!-- <link rel="stylesheet" id="revolution-settings-css" href="./bhadaa/css/settings1c9b.css" type="text/css" media="all"> -->
    <!-- <script src="./bhadaa/js/theia-sticky-sidebar1c9b.js.download"></script> -->
    <script src="./bhadaa/js/bootstrap.min1c9b.js.download"></script>
    <script src="./bhadaa/js/bootstrap-dropdownhover.min1c9b.js.download"></script>
    <script type="text/javascript" src="./bhadaa/js/wpfront-scroll-top.min.js" async="true"></script>
</body>
</html>