@using TransportService.Web.Models.Masters
@using TransportService.Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TRUCK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Stylesheets -->

    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css">

    <link rel="stylesheet" href="~/assets/css/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" href="~/assets/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/assets/css/theme.css">
    <link rel="stylesheet" href="~/assets/css/colors/turquoise.css" id="switch_style">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <link href="~/assets/css/signup.css" rel="stylesheet" />
    <link href="~/assets/css/font1.css" rel="stylesheet" />
    <link href="~/assets/css/font2.css" rel="stylesheet" />
    <link href="~/assets/css/font3.css" rel="stylesheet" />
    <link href="~/assets/css/home.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>


    <!-- Javascripts -->
    <script type="text/javascript" src="~/assets/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.nicescroll.js"></script>
    <!-- <script type="text/javascript" src="./js/jquery.prettyPhoto.js"></script>  -->
    <script type="text/javascript" src="~/assets/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.forms.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.gmap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/assets/js/switch.js"></script>
    <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


    <style>
        .banner {
            background-image: url('../../assets/banner3.jpg');
            background-size: cover;
            background-position: center center;
        }


        .borderValidation {
            border-color: red;
        }

        .linkDecoration {
            margin: 5px;
            color: blue;
            text-decoration: underline;
            text-decoration-color: blue;
        }

        .disableClick {
            pointer-events: none;
        }

        /*input[type=text], input[type=number], input[type=email], textarea {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid #DDDDDD;
        }

            input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, textarea:focus {
                box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                padding: 3px 0px 3px 3px;
                margin: 5px 1px 3px 0px;
                border: 1px solid blue;
            }*/

    </style>
</head>
<body>
    <!-- Top header -->
    <div id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="th-text pull-left">
                        <div class="th-item"> <a href="#"><i class="fa fa-phone"></i> 05-460789986</a> </div>
                        <div class="th-item"> <a href="#"><i class="fa fa-envelope"></i> mail@staff.com </a></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="th-text pull-right">
                        <div class="th-item">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs dropdown-toggle js-activated" type="button" data-toggle="dropdown"> English <span class="caret"></span> </button>
                                <ul class="dropdown-menu">
                                    <li> <a href="#">ENGLISH</a> </li>
                                    <li> <a href="#">FRANCE</a> </li>
                                    <li> <a href="#">GERMAN</a> </li>
                                    <li> <a href="#">SPANISH</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="th-item">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                @*<div class="d-inline-flex order-lg-last">
            <a class="btn-theme icon-left bg-navy-blue no-shadow d-none d-lg-inline-block align-self-center" href="#" role="button" data-toggle="modal" data-target="#user-login-popup"><i class="fas fa-home" style="color: #fff;"></i>  Log In</a>
            <a class="btn-theme icon-left bg-navy-blue no-shadow d-none d-lg-inline-block align-self-center" href="#" role="button" data-toggle="modal" data-target="#user-reg-popup"><i class="far fa-user" style="color: #fff;"></i>  Register</a>

        </div>*@

                                @*<a class="btn-theme icon-left bg-navy-blue no-shadow d-none d-lg-inline-block align-self-center" href="#" role="button" data-toggle="modal" data-target="#user-login-popup"><i class="fas fa-home" style="color: #fff;"></i>  Log In</a>*@
                                @Html.ActionLink("Log In", "LoginUser", null, new { @class = "btn-theme icon-left bg-navy-blue no-shadow d-none d-lg-inline-block align-self-center" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*.............................Registration Popup starts here.................................  *@

    @* ..................................Registration Ends Here...................... *@


    <header>
        <!-- Navigation -->
        <div class="navbar navbar-default" id="sticky">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a href="index.html" class="navbar-brand">
                        <!-- Logo -->
                        <div id="logo">
                            <a href="#" style="color: #fff;font-size: 32px;">Truck Load</a>
                            <!-- <img id="default-logo" src="#" alt="Truck Load" style="height:44px;">  -->
                        </div>
                    </a>
                </div>
                <div id="navbar-collapse-grid" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="index.html" style="color: #DE0034;">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Load<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>

                                    @Html.ActionLink("Find A Load", "New_LoaderIndex", "TLoader", new { @class = "nav-link", @style = "width: 100px;" })
                                </li>
                                <li>
                                    @Html.ActionLink("Post A Load", "AddLoad", "TLoader", new { @class = "nav-link ", @style = "width: 100px;",@id="btnAddLoad" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Truck<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>

                                    @Html.ActionLink("Find A Truck", "Index", "TLoader", new { @class = "nav-link", @style = "width: 100px;" })
                                </li>
                                <li>
                                    @Html.ActionLink("Post A Truck", "AddTrip", "TLoader", new { @class = "nav-link ", @style = "width: 100px;",@id="btnAddTrip" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Blog<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Blog grid</a></li>
                                <li>

                                </li>
                            </ul>
                        </li>
                        <li> <a href="gallery.html">Gallery</a></li>
                        <li id="liMyProfile" class="dropdown hidden">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">MyProfile<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @*<a href="contact-01.html">Contact 1</a>*@
                                    @Html.ActionLink("My Detail", "PersonalDetail", "TLoader", new { @class = "nav-link", @style = "width: 100px;" })
                                </li>
                                <li id="liAddTruck" class="hidden">
                                    @*<a href="contact-02.html">Contact 2</a>*@
                                    @Html.ActionLink("My Vehicle", "AddTruck", "TLoader", new { @class = "nav-link", @style = "width: 100px;" })
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </header>


    <div>

        @RenderBody()

    </div>
    <hr />

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h4>About Truck Load</h4>
                    <p>
                        Suspendisse sed sollicitudin nisl, at dignissim libero. Sed porta tincidunt ipsum, vel volutpat. <br>
                        <br>
                        Nunc ut fringilla urna. Cras vel adipiscing ipsum. Integer dignissim nisl eu lacus interdum facilisis. Aliquam erat volutpat. Nulla semper vitae felis vitae dapibus.
                    </p>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4>Recieve our newsletter</h4>
                    <p>Suspendisse sed sollicitudin nisl, at dignissim libero. Sed porta tincidunt ipsum, vel volutpa!</p>
                    <form role="form">
                        <div class="form-group">
                            <input name="newsletter" type="text" id="newsletter" value="" class="form-control" placeholder="Please enter your E-mailaddress">
                        </div>
                        <button type="submit" class="btn btn-lg btn-black btn-block">Submit</button>
                    </form>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4>From our blog</h4>
                    <ul>
                        <li>
                            <article>
                                <a href="blog-post.html">This is a video post<br>April 15 2014</a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a href="blog-post.html">An image post<br>April 14 2014</a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a href="blog-post.html">Audio included post<br>April 12 2014</a>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4>Address</h4>
                    <address>
                        <strong>Starhotel</strong><br>
                        795 Las Palmas<br>
                        Spain, CA 94107<br>
                        <abbr title="Phone">P:</abbr> <a href="#">(123) 456-7890</a><br>
                        <abbr title="Email">E:</abbr> <a href="#">mail@example.com</a><br>
                        <abbr title="Website">W:</abbr> <a href="#">www.slashdown.nl</a><br>
                    </address>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6"> &copy; 2014 Starhotel All Rights Reserved </div>
                    <div class="col-xs-6 text-right">
                        <ul>
                            <li><a href="contact-01.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--Register Modal starts-->
    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>

    </div>
    <!--Register Modal ends-->
    <!-- Go-top Button -->
    <div id="go-top"><i class="fa fa-angle-up fa-2x"></i></div>
    @*@RenderSection("scripts", required: false)*@

</body>
</html>
<script>
    $(document).ready(function () {
        
        if (@Session[UserColumns.UserID] != null || "@Session[UserColumns.UserID]" != "") {
            var userID = "@Session[UserColumns.UserID]";
            var RoleID = "@Session[RoleColumns.RoleID]";
            if (userID != null || userID != "") {
           
                $('#liMyProfile').removeClass('hidden');

                if (RoleID == @enumRole.Transporter.GetHashCode()) {
                    $('#liAddTruck').removeClass('hidden');
                }
            }
        

        }

    });
    
        
   
    
</script>
